<div class="card-careers p-lg-6 p-md-5 p-4 bg-black-2 border-bottom border-primary border-4 mb-5 wow img-custom-anim-top">
    <div class="d-flex flex-column flex-lg-row gap-5">
        <img class="max-w-250" src="@@img" alt="image" />
        <div class="card-content pe-lg-5 d-flex flex-column">
            <h5 class="mb-3">@@title</h5>
            <div class="d-flex flex-wrap gap-3 mb-4">
                <a href="link1" class="text-secondary border-end border-secondary pe-2 fs-7">
                    <i class="bi-bookmark-fill text-primary me-2"></i>
                    Programming
                </a>
                <a href="link2" class="text-secondary border-end border-secondary pe-2 fs-7">
                    <i class="bi-stopwatch-fill text-primary me-2"></i>
                    Full-time
                </a>
                <a href="link3" class="text-secondary fs-7">
                    <i class="bi-person-fill  text-primary me-2"></i>
                    Senior
                </a>
            </div>
            <p>@@description</p>
            <a href="@@link" class="text-secondary fs-7 mt-lg-auto mt-8">
                Read more
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                    <path d="M18.6714 10.9832L8.63038 21.0243L6.98047 19.3744L17.0215 9.33333H8.17142V7H21.0047V19.8333H18.6714V10.9832Z" fill="#E3FF04"></path>
                </svg>
            </a>
        </div>
    </div>
</div>
