<!-- careers -->
<section class="section-careers section-padding pt-80 pb-130">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pb-80">
                <h4 class="ds-xs-4">Join the Team <span class="text-secondary"> Behind Gaming’s Next</span> Big Adventure</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 d-flex flex-lg-column flex-md-row flex-column gap-4">
                <div class="bg-black-2 p-6 mb-md-4 mb-lg-0 mb-0">
                    <h5>
                        Browse Jobs <br>
                        by Category
                    </h5>
                    <form action="#" class="d-flex flex-column gap-3 mt-5">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="Senior">
                            <label class="form-check-label" for="Senior">
                                Senior
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="Principal" checked>
                            <label class="form-check-label" for="Principal">
                                Principal
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="Associate">
                            <label class="form-check-label" for="Associate">
                                Associate
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="Junior">
                            <label class="form-check-label" for="Junior">
                                Junior
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="Graduate">
                            <label class="form-check-label" for="Graduate">
                                Graduate
                            </label>
                        </div>
                    </form>
                </div>
                <div class="bg-black-2 p-6 mb-4">
                    <h5>
                        Experience <br> Level Fillter
                    </h5>
                    <form action="#" class="d-flex flex-column gap-3 mt-5">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                Animation
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="Programming" checked>
                            <label class="form-check-label" for="Programming">
                                Programming
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="Production">
                            <label class="form-check-label" for="Production">
                                Production
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="Marketing">
                            <label class="form-check-label" for="Marketing">
                                Marketing
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="Game-design">
                            <label class="form-check-label" for="Game-design">
                                Game design
                            </label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-9">
                <!--prettier-ignore-->
                @@loop('careers-loop.html', [
                {
                "img": "assets/imgs/careers/img-1.png",
                "title": "Sr. Gameplay Engineer, Incubation - Games Studio",
                "description": "As a Senior Game Designer, you'll be at the forefront of our game development process, driving the creative vision and crafting innovative gameplay mechanics",
                "link": "#",
                "link1": "#",
                "link2": "#",
                "link3": "#",
                },
                {
                "img": "assets/imgs/careers/img-2.png",
                "title": "3D Character Artist – Create Stunning, Realistic Characters for AAA Games",
                "description": " In this role, you'll be responsible for designing and modeling highly detailed 3D characters that resonate with players.",
                "link": "#",
                "link1": "#",
                "link2": "#",
                "link3": "#",
                },
                {
                "img": "assets/imgs/careers/img-3.png",
                "title": "Gameplay Programmer – Develop Core Gameplay Systems and Features",
                "description": "As a Gameplay Programmer, you’ll focus on implementing and optimizing core gameplay systems. Your role involves working with designers to translate ideas into code, ensuring that gameplay is smooth, responsive, and fun.",
                "link": "#",
                "link1": "#",
                "link2": "#",
                "link3": "#",
                },
                {
                "img": "assets/imgs/careers/img-4.png",
                "title": "Narrative Designer – Craft Compelling Stories and Rich Game Worlds",
                "description": "The Narrative Designer will be responsible for creating engaging storylines, dialogue, and character arcs.",
                "link": "#",
                "link1": "#",
                "link2": "#",
                "link3": "#",
                },
                {
                "img": "assets/imgs/careers/img-5.png",
                "title": "UI/UX Designer – Design Intuitive and Engaging User Interfaces",
                "description": "As a UI/UX Designer, you’ll create user-friendly interfaces that enhance the player experience. Your work will involve designing layouts, menus, and interactive elements that are visually appealing and easy to navigate.",
                "link": "#",
                "link1": "#",
                "link2": "#",
                "link3": "#",
                },
                ]
                )
                <div class="d-flex justify-content-start align-items-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination gap-2">
                            <li class="page-item">
                                <a class="icon-lg fs-5 page-link pagination_item border-0 rounded-2 icon-shape fw-regular" href="#" aria-label="Previous">
                                    <i class="bi bi-caret-left-fill"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="icon-lg fs-5 page-link pagination_item border-0 rounded-2 icon-shape fw-regular" href="#">1</a>
                            </li>
                            <li class="page-item">
                                <a class="icon-lg fs-5 page-link pagination_item border-0 rounded-2 icon-shape fw-regular" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="icon-lg fs-5 page-link pagination_item border-0 active rounded-2 icon-shape fw-regular" href="#">3</a>
                            </li>
                            <li class="page-item">
                                <a class="icon-lg fs-5 page-link pagination_item border-0 rounded-2 icon-shape fw-regular" href="#">4</a>
                            </li>
                            <li class="page-item">
                                <a class="icon-lg fs-5 page-link pagination_item border-0 rounded-2 icon-shape fw-regular" href="#">5</a>
                            </li>
                            <li class="page-item">
                                <a class="icon-lg fs-5 page-link pagination_item border-0 rounded-2 icon-shape fw-regular" href="#">...</a>
                            </li>
                            <li class="page-item">
                                <a class="icon-lg fs-5 page-link pagination_item border-0 rounded-2 icon-shape fw-regular" href="#" aria-label="Next">
                                    <i class="bi bi-caret-right-fill"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>