<!-- faqs 3 -->
<section class="section-faqs-3 section-padding section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 d-none d-lg-block">
                <div class="bg-black-2 p-6 mb-md-4 mb-lg-0 mb-0">
                    <h5>Categories</h5>
                    <form action="#" class="d-flex flex-column gap-3 mt-5">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="General" />
                            <label class="form-check-label" for="General"> General Questions </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="Development" checked />
                            <label class="form-check-label" for="Development"> Development </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="Pricing" />
                            <label class="form-check-label" for="Pricing"> Pricing & Plans </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="Post" />
                            <label class="form-check-label" for="Post"> Post-Launch </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="Billing" />
                            <label class="form-check-label" for="Billing"> Billing </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="Other" />
                            <label class="form-check-label" for="Other"> Other </label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-9 ps-lg-5">
                <h4 class="text-secondary-2 mb-8 w-lg-85 wow img-custom-anim-top">Here, we’ve compiled answers to some of the most common questions about our services, process, and more. If you don’t find the information you’re looking for, feel free to contact us directly.</h4>
                <div class="accordion">
                    <div class="px-0 card rounded-3 mb-3 collapse-custom">
                        <div class="p-0 card-header border-0 rounded-3">
                            <a class="text-900v collapsed p-3 text-white fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapse1">
                                <span class="m-0 fs-6 fw-bold w-75">What is your game development process?</span>
                                <span class="ms-auto arrow icon-shape icon-sm rounded-circle"></span>
                            </a>
                        </div>
                        <div id="collapse1" class="collapse" data-bs-parent=".accordion">
                            <p class="px-3 fs-6">Emphasize the expertise and knowledge of your team in developing and implementing neural networks. Mention your ability to customize solutions based on specific business requirements.</p>
                        </div>
                    </div>
                    <div class="px-0 card rounded-3 mb-3 collapse-custom">
                        <div class="p-0 card-header border-0 rounded-3">
                            <a class="text-900 p-3 text-white fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapse2">
                                <span class="m-0 fs-6 fw-bold w-75">How long does it take to develop a game with Muzilla?</span>
                                <span class="ms-auto arrow icon-shape icon-sm rounded-circle"></span>
                            </a>
                        </div>
                        <div id="collapse2" class="collapse show" data-bs-parent=".accordion">
                            <p class="px-3 fs-6">Emphasize the expertise and knowledge of your team in developing and implementing neural networks. Mention your ability to customize solutions based on specific business requirements.</p>
                        </div>
                    </div>
                    <div class="px-0 card rounded-3 mb-3 collapse-custom">
                        <div class="p-0 card-header border-0 rounded-3">
                            <a class="collapsed text-900 p-3 text-white fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapse3">
                                <span class="m-0 fs-6 fw-bold w-75">Can you develop games for multiple platforms?</span>
                                <span class="ms-auto arrow icon-shape icon-sm rounded-circle"></span>
                            </a>
                        </div>
                        <div id="collapse3" class="collapse" data-bs-parent=".accordion">
                            <p class="px-3 fs-6">Emphasize the expertise and knowledge of your team in developing and implementing neural networks. Mention your ability to customize solutions based on specific business requirements.</p>
                        </div>
                    </div>
                    <div class="px-0 card rounded-3 mb-3 collapse-custom">
                        <div class="p-0 card-header border-0 rounded-3">
                            <a class="collapsed text-900 p-3 text-white fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapse4">
                                <span class="m-0 fs-6 fw-bold w-75">What game engines and technologies do you use?</span>
                                <span class="ms-auto arrow icon-shape icon-sm rounded-circle"></span>
                            </a>
                        </div>
                        <div id="collapse4" class="collapse" data-bs-parent=".accordion">
                            <p class="px-3 fs-6">Emphasize the expertise and knowledge of your team in developing and implementing neural networks. Mention your ability to customize solutions based on specific business requirements.</p>
                        </div>
                    </div>
                    <div class="px-0 card rounded-3 mb-3 collapse-custom">
                        <div class="p-0 card-header border-0 rounded-3">
                            <a class="collapsed text-900 p-3 text-white fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapse5">
                                <span class="m-0 fs-6 fw-bold w-75">How do you handle revisions and feedback during development?</span>
                                <span class="ms-auto arrow icon-shape icon-sm rounded-circle"></span>
                            </a>
                        </div>
                        <div id="collapse5" class="collapse" data-bs-parent=".accordion">
                            <p class="px-3 fs-6">Emphasize the expertise and knowledge of your team in developing and implementing neural networks. Mention your ability to customize solutions based on specific business requirements.</p>
                        </div>
                    </div>
                    <div class="px-0 card rounded-3 mb-3 collapse-custom">
                        <div class="p-0 card-header border-0 rounded-3">
                            <a class="collapsed text-900 p-3 text-white fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapse6">
                                <span class="m-0 fs-6 fw-bold w-75">Do you provide post-launch support?</span>
                                <span class="ms-auto arrow icon-shape icon-sm rounded-circle"></span>
                            </a>
                        </div>
                        <div id="collapse6" class="collapse" data-bs-parent=".accordion">
                            <p class="px-3 fs-6">Emphasize the expertise and knowledge of your team in developing and implementing neural networks. Mention your ability to customize solutions based on specific business requirements.</p>
                        </div>
                    </div>
                    <div class="px-0 card rounded-3 mb-3 collapse-custom">
                        <div class="p-0 card-header border-0 rounded-3">
                            <a class="collapsed text-900 p-3 text-white fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapse7">
                                <span class="m-0 fs-6 fw-bold w-75">How much does it cost to develop a game with Muzilla?</span>
                                <span class="ms-auto arrow icon-shape icon-sm rounded-circle"></span>
                            </a>
                        </div>
                        <div id="collapse7" class="collapse" data-bs-parent=".accordion">
                            <p class="px-3 fs-6">Emphasize the expertise and knowledge of your team in developing and implementing neural networks. Mention your ability to customize solutions based on specific business requirements.</p>
                        </div>
                    </div>
                </div>
                <h6 class="pt-80 mb-5 wow img-custom-anim-top">Still Have Questions?</h6>
                <p class="w-md-65 wow img-custom-anim-top">If you didn’t find the answer you were looking for, we’re here to help. Contact us at <span class="text-primary">info@muzilla.com</span> or fill out our contact form, and we’ll get back to you as soon as possible. Let’s make something extraordinary together!</p>
            </div>
        </div>
    </div>
</section>
