<!-- FAQs-1 -->
<section class="section-faqs-2 position-relative section-padding">
    <div class="image-bg position-absolute top-0 start-0 w-100 h-100 z-0" data-background="assets/imgs/faqs/faqs-2/img-bg.png"></div>
    <div class="position-absolute bottom-0 start-0  d-none d-lg-block">
        <img src="assets/imgs/faqs/faqs-2/figure-1.png" alt="image" />
        <div class="ellipses position-absolute">
            <div class="ellipse flickering"></div>
        </div>
    </div>
    <div class="position-absolute bottom-0 end-0 d-none d-lg-block">
        <img src="assets/imgs/faqs/faqs-2/figure-2.png" alt="image" />
    </div>
    <div class="container position-relative z-1">
        <div class="row align-items-center">
            <div class="col-lg-6 mx-auto">
                <div class="mb-8">
                    <span class="fw-semibold text-primary fs-7 tg-heading-subheading animation-style3"><span class="opacity-25 me-2">+</span> FAQ. <span class="opacity-25 ms-2">+</span></span>
                    <h2 class=" tg-element-title">Every real <span class="stroke text-transparent">answer</span></h2>
                </div>
                <div class="accordion">
                    <div class="px-0 card rounded-3 mb-3 collapse-custom">
                        <div class="p-0 card-header border-0 rounded-3">
                            <a class="text-900 collapsed p-3 text-white fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapse1">
                                <span class="m-0 fs-6 fw-bold">How to edit this kind of design?</span>
                                <span class="ms-auto arrow icon-shape icon-sm rounded-circle"></span>
                            </a>
                        </div>
                        <div id="collapse1" class="collapse" data-bs-parent=".accordion">
                            <p class="px-3 fs-6">Emphasize the expertise and knowledge of your team in developing and implementing neural networks. Mention your ability to customize solutions based on specific business requirements.</p>
                        </div>
                    </div>
                    <div class="px-0 card rounded-3 mb-3 collapse-custom">
                        <div class="p-0 card-header border-0 rounded-3">
                            <a class="text-900 p-3 text-white fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapse2">
                                <span class="m-0 fs-6 fw-bold">How to edit this kind of design?</span>
                                <span class="ms-auto arrow icon-shape icon-sm rounded-circle"></span>
                            </a>
                        </div>
                        <div id="collapse2" class="collapse show" data-bs-parent=".accordion">
                            <p class="px-3 fs-6">Emphasize the expertise and knowledge of your team in developing and implementing neural networks. Mention your ability to customize solutions based on specific business requirements.</p>
                        </div>
                    </div>
                    <div class="px-0 card rounded-3 mb-3 collapse-custom">
                        <div class="p-0 card-header border-0 rounded-3">
                            <a class="collapsed text-900 p-3 text-white fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapse3">
                                <span class="m-0 fs-6 fw-bold">How to edit this kind of design?</span>
                                <span class="ms-auto arrow icon-shape icon-sm rounded-circle"></span>
                            </a>
                        </div>
                        <div id="collapse3" class="collapse" data-bs-parent=".accordion">
                            <p class="px-3 fs-6">Emphasize the expertise and knowledge of your team in developing and implementing neural networks. Mention your ability to customize solutions based on specific business requirements.</p>
                        </div>
                    </div>
                    <div class="px-0 card rounded-3 mb-3 collapse-custom">
                        <div class="p-0 card-header border-0 rounded-3">
                            <a class="collapsed text-900 p-3 text-white fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapse4">
                                <span class="m-0 fs-6 fw-bold">How to edit this kind of design?</span>
                                <span class="ms-auto arrow icon-shape icon-sm rounded-circle"></span>
                            </a>
                        </div>
                        <div id="collapse4" class="collapse" data-bs-parent=".accordion">
                            <p class="px-3 fs-6">Emphasize the expertise and knowledge of your team in developing and implementing neural networks. Mention your ability to customize solutions based on specific business requirements.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
