<!-- works 1 -->
<section class="section-works-1 pt-120 pb-150 bg-black-2">
    <div class="container">
        <div class="text-center tg-heading-subheading animation-style3">
            <div class="d-flex align-items-center justify-content-center mb-2">
                <span class="line-gradient"></span>
                <span class="text-uppercase fw-bold text-primary mx-3">Our Works</span>
                <span class="line-gradient-reverse"></span>
            </div>
            <h1 class="mb-4 tg-element-title">Recently Completed</h1>
            <p class="mb-0">
                With a decade of experience in the gaming industry, Muzilla brings a <br />
                wealth of knowledge and innovation to every project.
            </p>
        </div>
        <div class="row mt-8 position-relative">
            <!-- prettier-ignore -->
            @@loop('card-work-loop.html', [
                {
                    "image": "assets/imgs/works/works-1/img-1.png",
                    "tag": "Action",
                    "category": "The Future of SaaS: Emerging Trends to Watch",
                    "title": "Wukong",
                    "link": "#",
                    "link-1": "#",
                    "link-2": "#",
                    "link-3": "#",
                },
                {
                    "image": "assets/imgs/works/works-1/img-2.png",
                    "tag": "Action",
                    "category": "Choosing the Right SaaS Solution for Your Business",
                    "title": "Wukong",
                    "link": "#",
                    "link-1": "#",
                    "link-2": "#",
                    "link-3": "#",
                },
                {
                    "image": "assets/imgs/works/works-1/img-3.png",
                    "tag": "Adventure",
                    "category": "The Importance of Data Security in Your SaaS Projects",
                    "title": "Wukong",
                    "link": "#",
                    "link-1": "#",
                    "link-2": "#",
                    "link-3": "#",
                },
                {
                    "image": "assets/imgs/works/works-1/img-4.png",
                    "tag": "Strategy Master",
                    "category": "The Importance of Data Security in Your SaaS Projects",
                    "title": "Wukong",
                    "link": "#",
                    "link-1": "#",
                    "link-2": "#",
                    "link-3": "#",
                },
                {
                    "image": "assets/imgs/works/works-1/img-5.png",
                    "tag": "Blitz",
                    "category": "The Importance of Data Security in Your SaaS Projects",
                    "title": "Wukong",
                    "link": "#",
                    "link-1": "#",
                    "link-2": "#",
                    "link-3": "#",
                },
                {
                    "image": "assets/imgs/works/works-1/img-6.png",
                    "tag": "Mystery",
                    "category": "The Importance of Data Security in Your SaaS Projects",
                    "title": "Wukong",
                    "link": "#",
                    "link-1": "#",
                    "link-2": "#",
                    "link-3": "#",
                },
                {
                    "image": "assets/imgs/works/works-1/img-7.png",
                    "tag": "Action",
                    "category": "The Importance of Data Security in Your SaaS Projects",
                    "title": "Wukong",
                    "link": "#",
                    "link-1": "#",
                    "link-2": "#",
                    "link-3": "#",
                },
                {
                    "image": "assets/imgs/works/works-1/img-8.png",
                    "tag": "Survival",
                    "category": "The Importance of Data Security in Your SaaS Projects",
                    "title": "Wukong",
                    "link": "#",
                    "link-1": "#",
                    "link-2": "#",
                    "link-3": "#",
                }
            ]
            )
            <div class="scroll-move-right position-relative">
                <div class="d-flex align-items-center gap-5 wow img-custom-anim-top position-absolute top-50 start-50 translate-middle z-0">
                    <h3 class="stroke fs-300 opacity-25">Muzilla Indie Studio</h3>
                </div>
            </div>
        </div>
    </div>
</section>
