<!-- works 2 -->
<section class="section-works-1 pt-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h3 class="text-secondary">
                    Explore <span class="text-white">our portfolio</span> to view a variety of <span class="text-white">game projects</span> that showcase <span class="text-white">our expertise across multiple disciplines</span>
                </h3>
            </div>
            <div class="col-12">
                <div class="text-start mt-8">
                    <div class="button-group filter-button-group filter-menu-active">
                        <button class="btn filter-btn mb-2 me-2 text-uppercase active" data-filter="*">All Games</button>
                        <button class="btn filter-btn mb-2 me-2 text-uppercase " data-filter=".Puzzle">Puzzle</button>
                        <button class="btn filter-btn mb-2 me-2 text-uppercase " data-filter=".Casual">Casual</button>
                        <button class="btn filter-btn mb-2 me-2 text-uppercase " data-filter=".Action">Action</button>
                        <button class="btn filter-btn mb-2 me-2 text-uppercase " data-filter=".Shooter">Shooter</button>
                        <button class="btn filter-btn mb-2 me-2 text-uppercase " data-filter=".Simulation">Simulation</button>
                        <button class="btn filter-btn mb-2 me-2 text-uppercase " data-filter=".Sports">Sports</button>
                        <button class="btn filter-btn mb-2 me-2 text-uppercase " data-filter=".Platformer">Platformer</button>
                        <button class="btn filter-btn mb-2 me-2 text-uppercase " data-filter=".MMO">MMO</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row masonary-active mt-8">
            <div class="grid-sizer"></div>
            <!-- prettier-ignore -->
            @@loop('card-work2-loop.html', [
            {
            "image": "assets/imgs/works/works-2/img-1.png",
            "filter-type": "Action",
            "tag": "Action",
            "category": "The Future of SaaS: Emerging Trends to Watch",
            "title": "Dark souls",
            "link": "#",
            "link-1": "#",
            "link-2": "#",
            "link-3": "#",
            },
            {
            "image": "assets/imgs/works/works-2/img-2.png",
            "filter-type": "MMO",
            "tag": "RPG",
            "category": "Choosing the Right SaaS Solution for Your Business",
            "title": "Sekiro",
            "link": "#",
            "link-1": "#",
            "link-2": "#",
            "link-3": "#",
            },
            {
            "image": "assets/imgs/works/works-2/img-3.png",
            "filter-type": "Simulation",
            "tag": "Simulation",
            "category": "The Importance of Data Security in Your SaaS Projects",
            "title": "Asassin’s creed walhalla",
            "link": "#",
            "link-1": "#",
            "link-2": "#",
            "link-3": "#",
            },
            {
            "image": "assets/imgs/works/works-2/img-4.png",
            "filter-type": "Puzzle",
            "tag": "Puzzle",
            "category": "The Importance of Data Security in Your SaaS Projects",
            "title": "Déraciné",
            "link": "#",
            "link-1": "#",
            "link-2": "#",
            "link-3": "#",
            },
            {
            "image": "assets/imgs/works/works-2/img-5.png",
            "filter-type": "Action",
            "tag": "Action",
            "category": "The Importance of Data Security in Your SaaS Projects",
            "title": "Bloodborne",
            "link": "#",
            "link-1": "#",
            "link-2": "#",
            "link-3": "#",
            },
            {
            "image": "assets/imgs/works/works-2/img-6.png",
            "filter-type": "Shooter",
            "tag": "Shooter",
            "category": "The Importance of Data Security in Your SaaS Projects",
            "title": "Helldivers II",
            "link": "#",
            "link-1": "#",
            "link-2": "#",
            "link-3": "#",
            },
            {
            "image": "assets/imgs/works/works-2/img-7.png",
            "filter-type": "Platformer",
            "tag": "Platformer",
            "category": "The Importance of Data Security in Your SaaS Projects",
            "title": "Rise of the Ronin",
            "link": "#",
            "link-1": "#",
            "link-2": "#",
            "link-3": "#",
            },
            {
            "image": "assets/imgs/works/works-2/img-8.png",
            "filter-type": "MMO",
            "tag": "Horror",
            "category": "The Importance of Data Security in Your SaaS Projects",
            "title": "Elden Ring",
            "link": "#",
            "link-1": "#",
            "link-2": "#",
            "link-3": "#",
            },
            {
            "image": "assets/imgs/works/works-2/img-9.png",
            "filter-type": "MMO",
            "tag": "MMO",
            "category": "The Importance of Data Security in Your SaaS Projects",
            "title": "God of War",
            "link": "#",
            "link-1": "#",
            "link-2": "#",
            "link-3": "#",
            },
            {
            "image": "assets/imgs/works/works-2/img-10.png",
            "filter-type": "Action",
            "tag": "Action",
            "category": "The Importance of Data Security in Your SaaS Projects",
            "title": "Wukong",
            "link": "#",
            "link-1": "#",
            "link-2": "#",
            "link-3": "#",
            },
            {
            "image": "assets/imgs/works/works-2/img-11.png",
            "filter-type": "Casual",
            "tag": "Casual",
            "category": "The Importance of Data Security in Your SaaS Projects",
            "title": "Tourna",
            "link": "#",
            "link-1": "#",
            "link-2": "#",
            "link-3": "#",
            },
            {
            "image": "assets/imgs/works/works-2/img-12.png",
            "filter-type": "MMO",
            "tag": "RPG",
            "category": "The Importance of Data Security in Your SaaS Projects",
            "title": "Pubgi",
            "link": "#",
            "link-1": "#",
            "link-2": "#",
            "link-3": "#",
            }
            ]
            )
        </div>
    </div>
</section>