<!-- sponsors 2 -->
<div class="section-sponsors-2">
    <div class="container pb-160">
        <div class="carouselTicker carouselTicker-right">
            <ul class="carouselTicker__list pb-4">
                <li class="carouselTicker__item">
                    <a href="#" class="brand d-flex align-items-center opacity-50">
                        <img src="assets/imgs/sponsors/sponsors-2/icon-1.svg" alt="muzilla" />
                        <span class="fs-3 fw-bold ms-2 text-white">Astro</span>
                    </a>
                </li>
                <li class="carouselTicker__item">
                    <a href="#" class="brand d-flex align-items-center opacity-50">
                        <img src="assets/imgs/sponsors/sponsors-2/icon-2.svg" alt="muzilla" />
                        <span class="fs-3 fw-bold ms-2 text-white">Murei</span>
                    </a>
                </li>
                <li class="carouselTicker__item">
                    <a href="#" class="brand d-flex align-items-center opacity-50">
                        <img src="assets/imgs/sponsors/sponsors-2/icon-3.svg" alt="muzilla" />
                        <span class="fs-3 fw-bold ms-2 text-white">Xreshzi</span>
                    </a>
                </li>
                <li class="carouselTicker__item">
                    <a href="#" class="brand d-flex align-items-center opacity-50">
                        <img src="assets/imgs/sponsors/sponsors-2/icon-4.svg" alt="muzilla" />
                        <span class="fs-3 fw-bold ms-2 text-white">SellPure</span>
                    </a>
                </li>
                <li class="carouselTicker__item">
                    <a href="#" class="brand d-flex align-items-center opacity-50">
                        <img src="assets/imgs/sponsors/sponsors-2/icon-5.svg" alt="muzilla" />
                        <span class="fs-3 fw-bold ms-2 text-white">ai.core</span>
                    </a>
                </li>
                <li class="carouselTicker__item">
                    <a href="#" class="brand d-flex align-items-center opacity-50">
                        <img src="assets/imgs/sponsors/sponsors-2/icon-1.svg" alt="muzilla" />
                        <span class="fs-3 fw-bold ms-2 text-white">Astro</span>
                    </a>
                </li>
                <li class="carouselTicker__item">
                    <a href="#" class="brand d-flex align-items-center opacity-50">
                        <img src="assets/imgs/sponsors/sponsors-2/icon-2.svg" alt="muzilla" />
                        <span class="fs-3 fw-bold ms-2 text-white">Murei</span>
                    </a>
                </li>
                <li class="carouselTicker__item">
                    <a href="#" class="brand d-flex align-items-center opacity-50">
                        <img src="assets/imgs/sponsors/sponsors-2/icon-3.svg" alt="muzilla" />
                        <span class="fs-3 fw-bold ms-2 text-white">Xreshzi</span>
                    </a>
                </li>
                <li class="carouselTicker__item">
                    <a href="#" class="brand d-flex align-items-center opacity-50">
                        <img src="assets/imgs/sponsors/sponsors-2/icon-4.svg" alt="muzilla" />
                        <span class="fs-3 fw-bold ms-2 text-white">SellPure</span>
                    </a>
                </li>
                <li class="carouselTicker__item">
                    <a href="#" class="brand d-flex align-items-center opacity-50">
                        <img src="assets/imgs/sponsors/sponsors-2/icon-5.svg" alt="muzilla" />
                        <span class="fs-3 fw-bold ms-2 text-white">ai.core</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
