<!-- Testimonials 2 -->
<section class="section-testimonials-2 pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="position-relative border border-primary border-opacity-25 icon_160 icon-shape rounded-circle shadow">
                <img class="position-relative" src="assets/imgs/testimonials/testimonials-2/badge-icon.svg" alt="muzilla" />
                <div class="position-absolute top-50 start-50 translate-middle w-100">
                    <h6 class="circle-text rotateme">Years Of - Experience - 25 -</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col lg-10 mx-lg-auto">
                <!-- Swiper -->
                <div class="swiper slider-1 mt-10 position-relative">
                    <div class="swiper-wrapper position-relative z-1">
                        <div class="swiper-slide mb-8">
                            <div class="review_comment text-center">
                                <div class="group_star">
                                    <div class="d-flex gap-2 align-items-center d-inline-flex">
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                    </div>
                                </div>
                                <h4 class="fs-2 mt-3 lh-base">
                                    “ Hands down one of the best shirts I’ve ever owned. Fits <br class="d-none d-lg-block" />
                                    great, feels amazing, seems to stay cool and is somewhat water <br class="d-none d-lg-block" />overflow-hiddening resistant. “
                                </h4>
                                <a href="#" class="d-inline-block mt-5">
                                    <h6>Alonso D. Dowson</h6>
                                    <p class="text-primary fw-normal fs-7 text-uppercase mb-0">HEad Of IDea</p>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide mb-8">
                            <div class="review_comment text-center">
                                <div class="group_star">
                                    <div class="d-flex gap-2 align-items-center d-inline-flex">
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                    </div>
                                </div>
                                <h4 class="fs-2 mt-3 lh-base">
                                    “ Hands down one of the best shirts I’ve ever owned. Fits <br class="d-none d-lg-block" />
                                    great, feels amazing, seems to stay cool and is somewhat water <br class="d-none d-lg-block" />overflow-hiddening resistant. “
                                </h4>
                                <a href="#" class="d-inline-block mt-5">
                                    <h6>Alonso D. Dowson</h6>
                                    <p class="text-primary fw-normal fs-7 text-uppercase mb-0">HEad Of IDea</p>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide mb-8">
                            <div class="review_comment text-center">
                                <div class="group_star">
                                    <div class="d-flex gap-2 align-items-center d-inline-flex">
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                    </div>
                                </div>
                                <h4 class="fs-2 mt-3 lh-base">
                                    “ Hands down one of the best shirts I’ve ever owned. Fits <br class="d-none d-lg-block" />
                                    great, feels amazing, seems to stay cool and is somewhat water <br class="d-none d-lg-block" />overflow-hiddening resistant. “
                                </h4>
                                <a href="#" class="d-inline-block mt-5">
                                    <h6>Alonso D. Dowson</h6>
                                    <p class="text-primary fw-normal fs-7 text-uppercase mb-0">HEad Of IDea</p>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide mb-8">
                            <div class="review_comment text-center">
                                <div class="group_star">
                                    <div class="d-flex gap-2 align-items-center d-inline-flex">
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                    </div>
                                </div>
                                <h4 class="fs-2 mt-3 lh-base">
                                    “ Hands down one of the best shirts I’ve ever owned. Fits <br class="d-none d-lg-block" />
                                    great, feels amazing, seems to stay cool and is somewhat water <br class="d-none d-lg-block" />overflow-hiddening resistant. “
                                </h4>
                                <a href="#" class="d-inline-block mt-5">
                                    <h6>Alonso D. Dowson</h6>
                                    <p class="text-primary fw-normal fs-7 text-uppercase mb-0">HEad Of IDea</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination bottom-0"></div>
                </div>
                <!-- Swiper JS -->
            </div>
        </div>
    </div>
</section>
