<!-- Testimonials 1 -->
<section class="section-testimonials-1 pt-120 @@classList bg-black-2">
    <div class="container">
        <div class="text-center tg-heading-subheading animation-style3">
            <div class="d-flex align-items-center justify-content-center mb-2">
                <span class="line-gradient"></span>
                <span class="text-uppercase fw-bold text-primary mx-3">testimonials</span>
                <span class="line-gradient-reverse"></span>
            </div>
            <h2 class="tg-element-title">
                Happy users <br />
                feedback
            </h2>
        </div>
    </div>
    <div class="container position-relative pt-8 pb-120">
        <div class="row wow img-custom-anim-left position-relative z-1">
            <div class="col-lg-2 position-relative">
                <div class="slider-1-thumb swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="avatar avatar-80 position-relative overflow-hidden">
                                <img src="assets/imgs/testimonials/testimonials-1/avatar-1.png" alt="muzilla" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="avatar avatar-80 position-relative overflow-hidden">
                                <img src="assets/imgs/testimonials/testimonials-1/avatar-2.png" alt="muzilla" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="avatar avatar-80 position-relative overflow-hidden">
                                <img src="assets/imgs/testimonials/testimonials-1/avatar-3.png" alt="muzilla" />
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="avatar avatar-80 position-relative overflow-hidden">
                                <img src="assets/imgs/testimonials/testimonials-1/avatar-4.png" alt="muzilla" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 mt-lg-0 mt-10 wow img-custom-anim-left">
                <!-- Swiper -->
                <div class="swiper slider ms-5 position-relative">
                    <div class="swiper-wrapper position-relative z-1">
                        <div class="swiper-slide position-relative">
                            <div class="review_comment">
                                <div class="group_star">
                                    <div class="d-flex gap-2 align-items-center d-inline-flex">
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                    </div>
                                </div>
                                <h4 class="fs-2 mb-6 mt-4 lh-base">“ Hands down one of the best shirts I’ve ever owned. Fits great, feels amazing, seems to stay cool and is somewhat water resistant. “</h4>
                                <a href="#" class="d-inline-block">
                                    <h6>Alonso D. Dowson</h6>
                                    <p class="text-primary fw-normal fs-7 text-uppercase mb-0">HEad Of IDea</p>
                                </a>
                            </div>
                            <!-- <img class="pe-4 position-absolute bottom-0 end-0 z-0" src="assets/imgs/testimonials/testimonials-1/icon-1.svg" alt="muzilla"> -->
                        </div>
                        <div class="swiper-slide position-relative">
                            <div class="review_comment position-relative z-1">
                                <div class="group_star">
                                    <div class="d-flex gap-2 align-items-center d-inline-flex">
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                    </div>
                                </div>
                                <h4 class="fs-2 mb-6 mt-4 lh-base">“ Hands down one of the best shirts I’ve ever owned. Fits great, feels amazing, seems to stay cool and is somewhat water resistant. “</h4>
                                <a href="#" class="d-inline-block">
                                    <h6>Alonso D. Dowson</h6>
                                    <p class="text-primary fw-normal fs-7 text-uppercase mb-0">HEad Of IDea</p>
                                </a>
                            </div>
                            <!-- <img class="pe-4 position-absolute bottom-0 end-0 z-0" src="assets/imgs/testimonials/testimonials-1/icon-1.svg" alt="muzilla"> -->
                        </div>
                        <div class="swiper-slide position-relative">
                            <div class="review_comment position-relative z-1">
                                <div class="group_star">
                                    <div class="d-flex gap-2 align-items-center d-inline-flex">
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                    </div>
                                </div>
                                <h4 class="fs-2 mb-6 mt-4 lh-base">“ Hands down one of the best shirts I’ve ever owned. Fits great, feels amazing, seems to stay cool and is somewhat water resistant. “</h4>
                                <a href="#" class="d-inline-block">
                                    <h6>Alonso D. Dowson</h6>
                                    <p class="text-primary fw-normal fs-7 text-uppercase mb-0">HEad Of IDea</p>
                                </a>
                            </div>
                            <!-- <img class="pe-4 position-absolute bottom-0 end-0 z-0" src="assets/imgs/testimonials/testimonials-1/icon-1.svg" alt="muzilla"> -->
                        </div>
                        <div class="swiper-slide position-relative">
                            <div class="review_comment position-relative z-1">
                                <div class="group_star">
                                    <div class="d-flex gap-2 align-items-center d-inline-flex">
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                    </div>
                                </div>
                                <h4 class="fs-2 mb-6 mt-4 lh-base">“ Hands down one of the best shirts I’ve ever owned. Fits great, feels amazing, seems to stay cool and is somewhat water resistant. “</h4>
                                <a href="#" class="d-inline-block">
                                    <h6>Alonso D. Dowson</h6>
                                    <p class="text-primary fw-normal fs-7 text-uppercase mb-0">HEad Of IDea</p>
                                </a>
                            </div>
                            <!-- <img class="pe-4 position-absolute bottom-0 end-0 z-0" src="assets/imgs/testimonials/testimonials-1/icon-1.svg" alt="muzilla"> -->
                        </div>
                    </div>
                </div>
                <!-- Swiper JS -->
            </div>
        </div>
        <img class="pe-4 position-absolute bottom-0 end-0 z-0" src="assets/imgs/testimonials/testimonials-1/icon-1.svg" alt="muzilla" />
    </div>
</section>
