<!-- Testimonials-3 -->
<section class="section-testimonials-3 section-padding bg-black-1">
    <div class="container">
        <div class="text-center @@classList border-white border-opacity-10 tg-heading-subheading animation-style3">
            <span class="fw-semibold text-primary fs-7"><span class="opacity-25 me-2">+</span> Testimonials <span class="opacity-25 ms-2">+</span></span>
            <h2 class=" tg-element-title">Users <span class="stroke text-transparent">feedback</span></h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col lg-10 mx-lg-auto">
                <!-- Swiper -->
                <div class="swiper slider-2 mt-10 position-relative">
                    <div class="swiper-wrapper position-relative z-1">
                        <div class="swiper-slide mb-8">
                            <div class="review_comment bg-black-2 p-6 border-primary border-opacity-10 border rounded-4 position-relative">
                                <div class="group_star">
                                    <div class="d-flex gap-2 align-items-center d-inline-flex">
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                    </div>
                                </div>
                                <h6 class="ds-xs-6 mt-3 lh-base position-relative z-1">“ Hands down one of the best shirts I’ve ever owned. Fits great, feels amazing, seems to stay cool and is somewhat water resistant. “</h6>
                                <a href="#" class="d-flex align-items-center mt-5 position-relative z-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="49" height="40" viewBox="0 0 49 40" fill="none">
                                        <path d="M13.6309 23.9619C4.49216 15.2795 22.9167 8.82938 22.9167 8.82938V0C3.53183 0 0 13.4325 0 19.8414V40H22.9167V23.9619H13.6309Z" fill="#E3FF04" />
                                        <path d="M38.9753 23.4938C31.8164 13.3642 48.2612 8.82938 48.2612 8.82938V0C28.8761 0 25.3442 13.4325 25.3442 19.8414V40H48.2612V23.4938H38.9753Z" fill="#E3FF04" />
                                    </svg>
                                    <div class="ms-3">
                                        <h6>Alonso D. Dowson</h6>
                                        <p class="text-white opacity-50 fw-normal fs-7 text-uppercase mb-0">HEad Of IDea</p>
                                    </div>
                                </a>
                                <div class="position-absolute end-0 bottom-0 me-5 z-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="249" height="206" viewBox="0 0 249 206" fill="none">
                                        <path d="M70.1994 123.404C23.1346 78.6892 118.021 45.4713 118.021 45.4713V0C18.1889 0 0 69.1775 0 102.183V206H118.021V123.404H70.1994Z" fill="#111111" />
                                        <path d="M200.723 120.993C163.855 68.8256 248.545 45.4713 248.545 45.4713V0C148.712 0 130.523 69.1775 130.523 102.183V206H248.545V120.993H200.723Z" fill="#111111" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide mb-8">
                            <div class="review_comment bg-black-2 p-6 border-primary border-opacity-10 border rounded-4 position-relative">
                                <div class="group_star">
                                    <div class="d-flex gap-2 align-items-center d-inline-flex">
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                    </div>
                                </div>
                                <h6 class="ds-xs-6 mt-3 lh-base position-relative z-1">“ Hands down one of the best shirts I’ve ever owned. Fits great, feels amazing, seems to stay cool and is somewhat water resistant. “</h6>
                                <a href="#" class="d-flex align-items-center mt-5 position-relative z-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="49" height="40" viewBox="0 0 49 40" fill="none">
                                        <path d="M13.6309 23.9619C4.49216 15.2795 22.9167 8.82938 22.9167 8.82938V0C3.53183 0 0 13.4325 0 19.8414V40H22.9167V23.9619H13.6309Z" fill="#E3FF04" />
                                        <path d="M38.9753 23.4938C31.8164 13.3642 48.2612 8.82938 48.2612 8.82938V0C28.8761 0 25.3442 13.4325 25.3442 19.8414V40H48.2612V23.4938H38.9753Z" fill="#E3FF04" />
                                    </svg>
                                    <div class="ms-3">
                                        <h6>Alonso D. Dowson</h6>
                                        <p class="text-white opacity-50 fw-normal fs-7 text-uppercase mb-0">HEad Of IDea</p>
                                    </div>
                                </a>
                                <div class="position-absolute end-0 bottom-0 me-5 z-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="249" height="206" viewBox="0 0 249 206" fill="none">
                                        <path d="M70.1994 123.404C23.1346 78.6892 118.021 45.4713 118.021 45.4713V0C18.1889 0 0 69.1775 0 102.183V206H118.021V123.404H70.1994Z" fill="#111111" />
                                        <path d="M200.723 120.993C163.855 68.8256 248.545 45.4713 248.545 45.4713V0C148.712 0 130.523 69.1775 130.523 102.183V206H248.545V120.993H200.723Z" fill="#111111" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide mb-8">
                            <div class="review_comment bg-black-2 p-6 border-primary border-opacity-10 border rounded-4 position-relative">
                                <div class="group_star">
                                    <div class="d-flex gap-2 align-items-center d-inline-flex">
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                    </div>
                                </div>
                                <h6 class="ds-xs-6 mt-3 lh-base position-relative z-1">“ Hands down one of the best shirts I’ve ever owned. Fits great, feels amazing, seems to stay cool and is somewhat water resistant. “</h6>
                                <a href="#" class="d-flex align-items-center mt-5 position-relative z-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="49" height="40" viewBox="0 0 49 40" fill="none">
                                        <path d="M13.6309 23.9619C4.49216 15.2795 22.9167 8.82938 22.9167 8.82938V0C3.53183 0 0 13.4325 0 19.8414V40H22.9167V23.9619H13.6309Z" fill="#E3FF04" />
                                        <path d="M38.9753 23.4938C31.8164 13.3642 48.2612 8.82938 48.2612 8.82938V0C28.8761 0 25.3442 13.4325 25.3442 19.8414V40H48.2612V23.4938H38.9753Z" fill="#E3FF04" />
                                    </svg>
                                    <div class="ms-3">
                                        <h6>Alonso D. Dowson</h6>
                                        <p class="text-white opacity-50 fw-normal fs-7 text-uppercase mb-0">HEad Of IDea</p>
                                    </div>
                                </a>
                                <div class="position-absolute end-0 bottom-0 me-5 z-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="249" height="206" viewBox="0 0 249 206" fill="none">
                                        <path d="M70.1994 123.404C23.1346 78.6892 118.021 45.4713 118.021 45.4713V0C18.1889 0 0 69.1775 0 102.183V206H118.021V123.404H70.1994Z" fill="#111111" />
                                        <path d="M200.723 120.993C163.855 68.8256 248.545 45.4713 248.545 45.4713V0C148.712 0 130.523 69.1775 130.523 102.183V206H248.545V120.993H200.723Z" fill="#111111" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide mb-8">
                            <div class="review_comment bg-black-2 p-6 border-primary border-opacity-10 border rounded-4 position-relative">
                                <div class="group_star">
                                    <div class="d-flex gap-2 align-items-center d-inline-flex">
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                        <i class="bi bi-star-fill text-primary"></i>
                                    </div>
                                </div>
                                <h6 class="ds-xs-6 mt-3 lh-base position-relative z-1">“ Hands down one of the best shirts I’ve ever owned. Fits great, feels amazing, seems to stay cool and is somewhat water resistant. “</h6>
                                <a href="#" class="d-flex align-items-center mt-5 position-relative z-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="49" height="40" viewBox="0 0 49 40" fill="none">
                                        <path d="M13.6309 23.9619C4.49216 15.2795 22.9167 8.82938 22.9167 8.82938V0C3.53183 0 0 13.4325 0 19.8414V40H22.9167V23.9619H13.6309Z" fill="#E3FF04" />
                                        <path d="M38.9753 23.4938C31.8164 13.3642 48.2612 8.82938 48.2612 8.82938V0C28.8761 0 25.3442 13.4325 25.3442 19.8414V40H48.2612V23.4938H38.9753Z" fill="#E3FF04" />
                                    </svg>
                                    <div class="ms-3">
                                        <h6>Alonso D. Dowson</h6>
                                        <p class="text-white opacity-50 fw-normal fs-7 text-uppercase mb-0">HEad Of IDea</p>
                                    </div>
                                </a>
                                <div class="position-absolute end-0 bottom-0 me-5 z-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="249" height="206" viewBox="0 0 249 206" fill="none">
                                        <path d="M70.1994 123.404C23.1346 78.6892 118.021 45.4713 118.021 45.4713V0C18.1889 0 0 69.1775 0 102.183V206H118.021V123.404H70.1994Z" fill="#111111" />
                                        <path d="M200.723 120.993C163.855 68.8256 248.545 45.4713 248.545 45.4713V0C148.712 0 130.523 69.1775 130.523 102.183V206H248.545V120.993H200.723Z" fill="#111111" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination bottom-0"></div>
                </div>
                <!-- Swiper JS -->
            </div>
        </div>
    </div>
</section>
