<!-- stetechnologiesps-1 -->
<section class="section-technologies-1 pt-120 pb-120 bg-black-1">
    <div class="container">
        <div class="text-center tg-heading-subheading animation-style3">
            <h2 class="text-white tg-element-title">Technologies <span class="text-secondary">used in this</span> project</h2>
        </div>
    </div>
    <div class="container mt-10">
        <div class="row g-4 justify-content-center">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card-technologies-1 d-flex align-items-center bg-black-2 flex-column h-100 rounded-3 p-5 gap-4 wow img-custom-anim-top">
                    <img src="assets/imgs/technologies/technologies-1/icon-1.svg" alt="muzilla" />
                    <h3>Unity</h3>
                    <p class="fw-regular text-center">Our primary engine for versatile 2D and 3D game development, delivering high-quality experiences across all platforms, including mobile, consoles, and VR.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card-technologies-1 d-flex align-items-center bg-black-2 flex-column h-100 rounded-3 p-5 gap-4 wow img-custom-anim-top">
                    <img src="assets/imgs/technologies/technologies-1/icon-2.svg" alt="muzilla" />
                    <h3>Cocos2d</h3>
                    <p class="fw-regular text-center">Ideal for mobile and web-based 2D games, enabling fast development and cross-platform functionality with minimal resource use.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card-technologies-1 d-flex align-items-center bg-black-2 flex-column h-100 rounded-3 p-5 gap-4 wow img-custom-anim-top">
                    <img src="assets/imgs/technologies/technologies-1/icon-3.svg" alt="muzilla" />
                    <h3>Godot</h3>
                    <p class="fw-regular text-center">Renowned for stunning graphics and realistic environments, CryEngine is our choice for immersive, visually rich games.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card-technologies-1 d-flex align-items-center bg-black-2 flex-column h-100 rounded-3 p-5 gap-4 wow img-custom-anim-top">
                    <img src="assets/imgs/technologies/technologies-1/icon-4.svg" alt="muzilla" />
                    <h3>Cocos2d</h3>
                    <p class="fw-regular text-center">An open-source engine perfect for flexible and lightweight 2D and 3D game development, offering customization and efficiency.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card-technologies-1 d-flex align-items-center bg-black-2 flex-column h-100 rounded-3 p-5 gap-4 wow img-custom-anim-top">
                    <img src="assets/imgs/technologies/technologies-1/icon-5.svg" alt="muzilla" />
                    <h3>Maya</h3>
                    <p class="fw-regular text-center">Our go-to software for complex 3D modeling and animation, ensuring polished and visually compelling game elements.</p>
                </div>
            </div>
        </div>
    </div>
</section>
