<!-- Portfolio 3 -->
<section class="section-portfolio-3 pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="position-relative border border-primary border-opacity-25 icon_160 icon-shape rounded-circle shadow">
                <img class="position-relative" src="assets/imgs/template/logo.svg" alt="muzilla" />
                <div class="position-absolute top-50 start-50 translate-middle w-100">
                    <h6 class="circle-text rotateme">Years Of - Experience - 25 -</h6>
                </div>
            </div>
        </div>
        <div class="row mt-110 justify-content-between">
            <div class="col-12">
                <div class="single-portfolio-card-3 tg-img-reveal-item w-100 mb-8" data-fx="1" data-img="assets/imgs/portfolio/portfolio-3/img-1.png">
                    <div class="portfolio-card-details position-relative">
                        <h4 class="portfolio-card-title">
                            <a href="game-details.html"> War Of Duty </a>
                        </h4>
                        <p class="portfolio-card-text fs-7 text-primary fw-regular pt-3 text-uppercase border-top border-white border-opacity-10 bg-black-1 position-absolute start-0 top-50 mt-lg-4 mt-md-3 mt-2 w-100">
                            Action Games
                            <span class="ms-3 text-white opacity-50">2013</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="single-portfolio-card-3 tg-img-reveal-item w-100 mb-8" data-fx="1" data-img="assets/imgs/portfolio/portfolio-2/img-1.png">
                    <div class="portfolio-card-details position-relative">
                        <h4 class="portfolio-card-title">
                            <a href="game-details.html"> Tank Pure Battle </a>
                        </h4>
                        <p class="portfolio-card-text fs-7 text-primary fw-regular pt-3 text-uppercase border-top border-white border-opacity-10 bg-black-1 position-absolute start-0 top-50 mt-lg-4 mt-md-3 mt-2 w-100">
                            sci-fi
                            <span class="ms-3 text-white opacity-50">2017</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="single-portfolio-card-3 tg-img-reveal-item w-100 mb-8" data-fx="1" data-img="assets/imgs/portfolio/portfolio-2/img-2.png">
                    <div class="portfolio-card-details position-relative">
                        <h4 class="portfolio-card-title">
                            <a href="game-details.html"> Bloodstrike:Mobile </a>
                        </h4>
                        <p class="portfolio-card-text fs-7 text-primary fw-regular pt-3 text-uppercase border-top border-white border-opacity-10 bg-black-1 position-absolute start-0 top-50 mt-lg-4 mt-md-3 mt-2 w-100">
                            horror
                            <span class="ms-3 text-white opacity-50">2022</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="single-portfolio-card-3 tg-img-reveal-item w-100 mb-8" data-fx="1" data-img="assets/imgs/portfolio/portfolio-2/img-3.png">
                    <div class="portfolio-card-details position-relative">
                        <h4 class="portfolio-card-title">
                            <a href="game-details.html"> Astro Verse </a>
                        </h4>
                        <p class="portfolio-card-text fs-7 text-primary fw-regular pt-3 text-uppercase border-top border-white border-opacity-10 bg-black-1 position-absolute start-0 top-50 mt-lg-4 mt-md-3 mt-2 w-100">
                            Action Games
                            <span class="ms-3 text-white opacity-50">2023</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="single-portfolio-card-3 tg-img-reveal-item w-100 mb-8" data-fx="1" data-img="assets/imgs/portfolio/portfolio-2/img-4.png">
                    <div class="portfolio-card-details position-relative">
                        <h4 class="portfolio-card-title">
                            <a href="game-details.html"> Minecraft:PC </a>
                        </h4>
                        <p class="portfolio-card-text fs-7 text-primary fw-regular pt-3 text-uppercase border-top border-white border-opacity-10 bg-black-1 position-absolute start-0 top-50 mt-lg-4 mt-md-3 mt-2 w-100">
                            arcade
                            <span class="ms-3 text-white opacity-50">2024</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-8">
            <a href="our-game.html" class="btn btn-outline-primary">More Games</a>
        </div>
    </div>
</section>
