<!-- Portfolio 2 -->
<div class="overflow-hidden tg-heading-subheading animation-style3">
    <h3 class="fs-300 text-center fw-bold pt-120 pb-80 text-secondary-2 tg-element-title">Portfolio</h3>
</div>
<section class="accordion section-portfolio-2 d-flex flex-column flex-lg-row align-items-center">
    <div class="accordion-item wow img-custom-anim-top">
        <div class="accordion-img w-100 h-100" data-background="assets/imgs/portfolio/portfolio-2/img-1.png"></div>
        <div class="accordion-link mt-md-7 mt-4">
            <a href="#" class="text-primary fs-7 text-uppercase fw-bold d-inline-block my-2">pvp, creative</a><br />
            <a href="#" class="d-inline-block">
                <h2>Karzone: Mobile</h2>
            </a>
        </div>
    </div>
    <div class="accordion-item  wow img-custom-anim-top expand">
        <div class="accordion-img w-100 h-100" data-background="assets/imgs/portfolio/portfolio-2/img-2.png"></div>
        <div class="accordion-link mt-md-7 mt-4">
            <a href="#" class="text-primary fs-7 text-uppercase fw-bold d-inline-block my-2">pvp, creative</a><br />
            <a href="#" class="d-inline-block">
                <h2>Karzone: Mobile</h2>
            </a>
        </div>
    </div>
    <div class="accordion-item wow img-custom-anim-top">
        <div class="accordion-img w-100 h-100" data-background="assets/imgs/portfolio/portfolio-2/img-3.png"></div>
        <div class="accordion-link mt-md-7 mt-4">
            <a href="#" class="text-primary fs-7 text-uppercase fw-bold d-inline-block my-2">pvp, creative</a><br />
            <a href="#" class="d-inline-block">
                <h2>Karzone: Mobile</h2>
            </a>
        </div>
    </div>
    <div class="accordion-item wow img-custom-anim-top">
        <div class="accordion-img w-100 h-100" data-background="assets/imgs/portfolio/portfolio-2/img-4.png"></div>
        <div class="accordion-link mt-md-7 mt-4">
            <a href="#" class="text-primary fs-7 text-uppercase fw-bold d-inline-block my-2">pvp, creative</a><br />
            <a href="#" class="d-inline-block">
                <h2>Karzone: Mobile</h2>
            </a>
        </div>
    </div>
</section>
<div class="container border-bottom border-primary pt-120"></div>
