<!-- Vieo 1 -->
<section class="section-video-1 position-relative bg-black-1 pb-80">
    <div class="position-relative z-1 text-center">
        <img class="w-100" src="assets/imgs/video/video-1/img-bg.png" alt="muzilla" />
        <div class="position-absolute top-50 start-50 translate-middle z-2">
            <a href="https://www.youtube.com/watch?v=2GOTlI8pYeo" class="d-inline-flex fs-7 fw-semibold align-items-center bg-primary rounded-circle popup-video hover-up icon-shape icon-xxxl text-dark"> Play </a>
        </div>
        <div class="scroll-move-right">
            <h2 class="fs-128 text-nowrap text-uppercase position-absolute top-100 start-50 translate-middle">Quality Game With Muzilla <span class="text-primary">&nbsp; / &nbsp;</span> Quality Game With Muzilla</h2>
        </div>
    </div>
</section>
