<!-- Vieo 3 -->
<section class="section-video-3 position-relative bg-black-2">
    <div class="container">
        <div class="position-relative z-1">
            <img class="position-relative z-1 wow img-custom-anim-top" src="assets/imgs/video/video-3/img.png" alt="muzilla" />
            <div class="position-absolute top-50 start-50 translate-middle z-2">
                <a href="https://www.youtube.com/watch?v=2GOTlI8pYeo" class="d-inline-flex fs-7 fw-semibold align-items-center bg-primary rounded-circle popup-video hover-up icon-shape icon-xxxl lh-1 text-dark">
                    How <br />
                    We Work?
                </a>
            </div>
            <div class="scroll-move-right d-none d-md-block">
                <h2 class="fs-128 text-nowrap text-secondary text-uppercase position-absolute top-100 start-50 translate-middle z-0">Quality Game With Muzilla <span class="text-primary">&nbsp; / &nbsp;</span> Quality Game With Muzilla</h2>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-8">
            <a href="#" class="btn btn-primary">Our Services</a>
            <a href="#" class="btn text-white ms-lg-3 ">info@muzilla.com</a>
        </div>
    </div>
    <div class="bg-black-1 position-absolute bottom-0 start-0 w-100 h-50 z-0"></div>
</section>
