<!-- Vieo 4 -->
<section class="section-video-4 position-relative bg-black-2">
    <div class="container pt-120 pb-120">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="text-center">
                    <div class="d-flex align-items-center justify-content-center mb-4">
                        <span class="line-gradient"></span>
                        <span class="text-uppercase fw-bold text-primary mx-3">How We Develop Games</span>
                        <span class="line-gradient-reverse"></span>
                    </div>
                    <h4 class="wow img-custom-anim-top">"Eclipse of the Shadows" is not just a battle against external forces but also a journey of self-discovery for Kael as he confronts his past, his fears, and his ultimate destiny.</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="position-relative">
        <div class="container">
            <div class="position-relative z-1">
                <img class="position-relative z-1  wow img-custom-anim-top" src="assets/imgs/video/video-4/img-bg.png" alt="muzilla" />
                <div class="position-absolute top-50 start-50 translate-middle z-2">
                    <a href="https://www.youtube.com/watch?v=2GOTlI8pYeo" class="d-inline-flex fs-7 fw-semibold align-items-center bg-primary rounded-circle popup-video hover-up icon-shape icon-xxxl lh-1 text-dark"> Play </a>
                </div>
            </div>
        </div>
        <div class="bg-black-1 position-absolute bottom-0 start-0 w-100 h-50 z-0"></div>
    </div>
</section>
