<!-- Vieo 2 -->
<section class="section-video-2 position-relative bg-black-1 pt-200 overflow-hidden">
    <div class="scroll-move-right position-relative d-none d-md-block">
        <div class="d-flex align-items-center gap-5 wow img-custom-anim-top position-absolute top-50 start-50 translate-middle">
            <h3 class="stroke fs-300 opacity-25">Muzilla Indie Studio</h3>
        </div>
    </div>
    <div class="container">
        <div class="position-relative z-1">
            <img class="rounded-4 wow img-custom-anim-top" src="assets/imgs/video/video-2/img-bg.png" alt="muzilla" />
            <div class="position-absolute top-50 start-50 translate-middle z-2">
                <a href="https://www.youtube.com/watch?v=2GOTlI8pYeo" class="d-inline-flex fs-7 fw-semibold align-items-center bg-primary rounded-circle popup-video hover-up icon-shape icon-xxxl text-dark"> Play </a>
            </div>
            <h2 class="fs-80 text-nowrap text-uppercase position-absolute top-0 start-50 translate-middle wow img-custom-anim-top">Visit Our Studio</h2>
        </div>
        <div class="d-md-flex justify-content-center mt-8 text-center">
            <a href="services-2.html" class="btn btn-primary">Our Services</a>
            <a href="contact.html" class="btn text-white ms-lg-3 ">info@muzilla.com</a>
        </div>
    </div>
</section>
