<!--About 2-->
<section class="section-about-2 pt-120 pb-250 overflow-hidden bg-black-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 position-relative pe-lg-10">
                <h1 class="fs-150 large-letter d-none d-lg-block position-absolute">About</h1>
                <span class="text-uppercase fw-bold text-primary fs-7">since from 1990</span>
                <div class="tg-heading-subheading animation-style3">
                    <h2 class="position-relative tg-element-title">
                        Serving quality games <br class="d-none d-lg-block" />
                        & things base nyc.
                    </h2>
                </div>
                <p class="mt-4">Indie games, short for independent video games, are typically created by individuals. They often emphasize innovation, creativity, and unique gameplay experiences.</p>
                <div class="row mt-5">
                    <div class="col-md-6 text-start">
                        <a class="hover-effect-2 text-white mb-4 fw-bold fs-7 d-flex align-items-center" href="#">
                            <span class="line me-3"></span>
                            On-demand design
                        </a>
                        <a class="hover-effect-2 text-white mb-4 fw-bold fs-7 d-flex align-items-center" href="#">
                            <span class="line me-3"></span>
                            Creative idea
                        </a>
                    </div>
                    <div class="col-md-6 text-start">
                        <a class="hover-effect-2 text-white mb-4 fw-bold fs-7 d-flex align-items-center" href="#">
                            <span class="line me-3"></span>
                            Multi-support option
                        </a>
                        <a class="hover-effect-2 text-white mb-4 fw-bold fs-7 d-flex align-items-center" href="#">
                            <span class="line me-3"></span>
                            Netease associate
                        </a>
                    </div>
                </div>
                <div class="border-bottom border-white opacity-25 my-6"></div>
                <div class="d-flex">
                    <a href="contact.html" class="btn btn-outline-primary">Let’s talk</a>
                    <a href="telto:123456789" class="btn text-white ms-lg-3 ">+(123) 456 789 00</a>
                </div>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5">
                <div class="position-relative d-inline-flex">
                    <img class="rounded-4" src="assets/imgs/about/about-2/img-1.png" alt="muzilla" />
                    <img class="rounded-4 position-absolute top-100 start-100 translate-middle d-block w-100 d-none d-md-block" src="assets/imgs/about/about-2/img-2.png" alt="muzilla" />
                </div>
            </div>
        </div>
    </div>
</section>
