<!-- About 3 -->
<section class="section-about-3 section-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="rounded-4 overflow-hidden zoom-img d-inline-block mb-lg-0 mb-8">
                    <img src="assets/imgs/about/about-3/img-1.png" alt="muzilla" />
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1 tg-heading-subheading animation-style3">
                <span class="fw-semibold text-primary fs-7"><span class="opacity-25 me-2">+</span> About Us</span>
                <h3 class="ds-xs-3 mb-8 tg-element-title">
                    We are a indie creative <br class="d-none d-lg-block" />
                    studio from <strong>New York.</strong>
                </h3>
                <span class="ds-xs-6 fw-bold wow img-custom-anim-left">Mission & vision</span>
                <div class="row pt-3">
                    <div class="col-md-6 pe-lg-3 wow img-custom-anim-left">
                        <p>Indie games, short for independent video games, are typically created by individuals.</p>
                    </div>
                    <div class="col-md-6 wow img-custom-anim-left">
                        <p>They often emphasize innovation, creativity, and unique gameplay experiences.</p>
                    </div>
                </div>
                <a href="#" class="btn btn-outline-primary mt-5"> Get In Touch </a>
            </div>
        </div>
    </div>
</section>
