<!--About 1-->
<section class="section-about-1 pt-120 pb-250 overflow-hidden">
    <div class="container-fluid">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-2 position-relative align-self-stretch d-none d-lg-block">
                    <div class="img-1 position-lg-absolute mb-lg-0 mb-10">
                        <img class="rounded-4 img-custom-anim-left" src="assets/imgs/about/about-1/img-1.png" alt="muzilla" />
                    </div>
                </div>
                <div class="col-lg-7 position-relative tg-heading-subheading animation-style3">
                    <h1 class="fs-150 large-letter position-absolute d-none d-md-block">About</h1>
                    <h3 class="ds-xs-3 mb-8 tg-element-title">
                        We are a indie creative <br class="d-none d-lg-block" />
                        studio from <strong>New York.</strong>
                    </h3>
                    <span class="ds-xs-6 fw-bold wow img-custom-anim-left">Mission & vision</span>
                    <div class="row pt-3 wow img-custom-anim-left">
                        <div class="col-md-6 pe-lg-3">
                            <p>Indie games, short for independent video games, are typically created by individuals.</p>
                        </div>
                        <div class="col-md-6">
                            <p>They often emphasize innovation, creativity, and unique game play experiences.</p>
                        </div>
                    </div>
                    <a href="contact.html" class="btn btn-outline-primary mt-5"> Get In Touch </a>
                </div>
                <div class="col-lg-3 text-center">
                    <div class="position-relative mt-lg-0 mt-5">
                        <img class="rounded-4 img-2 opacity-25" src="assets/imgs/about/about-1/img-2.png" alt="muzilla" />
                        <img class="rounded-4 position-absolute img-3" src="assets/imgs/about/about-1/img-3.png" alt="muzilla" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
