<!-- CTA 1 -->
<section class="section-cta-1 pb-120 d-none d-md-block">
    <div class="container">
        <div class="position-relative">
            <div class="balloon rounded-circle d-flex flex-column align-items-center justify-content-center bg-primary position-relative z-1 mx-auto">
                <h1 class="fs-100 stroke text-primary mb-5 bg-black-1">
                    Let’s work
                    <br />
                    <span class="text-dark"> together </span>
                </h1>
                <p class="text-dark pb-5 text-center">
                    Indie Agency is rooted in a passion for innovation and a relentless drive to <br class="d-none d-lg-block" />
                    empower businesses through transformative digital strategies.
                </p>
                <div class="d-flex">
                    <a href="contact.html" class="btn btn-dark">Let’s talk</a>
                    <a href="#" class="btn text-dark ms-lg-3 px-3">info@muzilla.com</a>
                </div>
            </div>
            <img class="rounded-4 opacity-25 position-absolute top-50 start-50 translate-middle z-0" src="assets/imgs/cta/cta-1/img-bg.png" alt="muzilla" />
        </div>
    </div>
</section>
