<!-- Services-2 -->
<section class="section-services-2 pt-120 pb-120 bg-black-2">
    <div class="container tg-heading-subheading animation-style3">
        <div class="d-flex align-items-center mb-3">
            <span class="text-uppercase fw-bold text-primary fs-7  text-nowrap">Our Expertise</span>
            <span class="line ms-4"></span>
        </div>
        <h2 class="text-end pb-80 tg-element-title">What we do</h2>
    </div>
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="card-service-2 d-flex flex-md-column flex-lg-row flex-column p-5 wow img-custom-anim-left">
                    <div class="icon flex-shrink-0">
                        <img src="assets/imgs/services/services-2/icon-1.svg" alt="muzilla" />
                    </div>
                    <div class="content flex-grow-1 ms-0 ms-md-0 ms-lg-5 mt-4 mt-md-4 mt-lg-0 mt-0">
                        <h5 class="ds-xs-6"><a href="services-details.html">Game Design</a></h5>
                        <p class="fw-regular">Indie games, short for independent video games, are typically created by individuals. They often emphasize innovation, creativity, and unique.</p>
                        <a href="services-details.html" class="fs-7 fw-bold"> Read More </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="card-service-2 d-flex flex-md-column flex-lg-row flex-column p-5 wow img-custom-anim-left">
                    <div class="icon flex-shrink-0">
                        <img src="assets/imgs/services/services-2/icon-2.svg" alt="muzilla" />
                    </div>
                    <div class="content flex-grow-1 ms-0 ms-md-0 ms-lg-5 mt-4 mt-md-4 mt-lg-0 mt-0">
                        <h5 class="ds-xs-6"><a href="services-details.html">Indie Solutions</a></h5>
                        <p class="fw-regular">Indie games, short for independent video games, are typically created by individuals. They often emphasize innovation, creativity, and unique.</p>
                        <a href="services-details.html" class="fs-7 fw-bold"> Read More </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="card-service-2 d-flex flex-md-column flex-lg-row flex-column p-5 wow img-custom-anim-left">
                    <div class="icon flex-shrink-0">
                        <img src="assets/imgs/services/services-2/icon-3.svg" alt="muzilla" />
                    </div>
                    <div class="content flex-grow-1 ms-0 ms-md-0 ms-lg-5 mt-4 mt-md-4 mt-lg-0 mt-0">
                        <h5 class="ds-xs-6"><a href="services-details.html">Sci-fi Games</a></h5>
                        <p class="fw-regular">Indie games, short for independent video games, are typically created by individuals. They often emphasize innovation, creativity, and unique.</p>
                        <a href="services-details.html" class="fs-7 fw-bold"> Read More </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="card-service-2 d-flex flex-md-column flex-lg-row flex-column p-5 wow img-custom-anim-left">
                    <div class="icon flex-shrink-0">
                        <img src="assets/imgs/services/services-2/icon-4.svg" alt="muzilla" />
                    </div>
                    <div class="content flex-grow-1 ms-0 ms-md-0 ms-lg-5 mt-4 mt-md-4 mt-lg-0 mt-0">
                        <h5 class="ds-xs-6"><a href="services-details.html">Multi-player Game</a></h5>
                        <p class="fw-regular">Indie games, short for independent video games, are typically created by individuals. They often emphasize innovation, creativity, and unique.</p>
                        <a href="services-details.html" class="fs-7 fw-bold"> Read More </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
