<!-- services-4 -->
<section class="section-services-4 section-padding">
    <div class="container">
        <div class="row">
            <div class="position-relative z-1">
                <div class="col-lg-9 offset-lg-2 pe-lg-8 position-relative z-1 wow img-custom-anim-left">
                    <h4 class="ds-xs-4 text-secondary">At <span class="text-primary">Muzilla</span><span class="text-white">,</span> we bring <span class="text-white">creativity</span>, <span class="text-white">innovation</span>, and <span class="text-white">passion</span> to every project. Whether you’re looking to develop a groundbreaking game or enhance your current projects, <span class="text-white">we have the expertise</span> to make your vision a reality.</h4>
                </div>
                <div class="position-absolute top-50 start-0 translate-middle pe-10 pt-10 z-0 d-none d-lg-block">
                    <img class="pe-10 pt-10 alltuchtopdown" src="assets/imgs/services/services-4/figure.png" alt="img" />
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-10">
        <div class="card-scroll">
            <div class="cards">
                <div class="card-custom">
                    <div class="card__inner">
                        <div class="p-lg-7 p-md-5 p-4 row d-flex border border-primary bg-black-2 rounded-4">
                            <div class="col-lg-7 d-flex align-items-start flex-column">
                                <div class="pe-lg-7">
                                    <div class="d-flex align-items-center">
                                        <div class="rectangle"></div>
                                        <strong class="ms-3">From Concept to Reality</strong>
                                    </div>
                                    <h2 class="mt-3 wow img-custom-anim-left">Game Development</h2>
                                    <ul class="list-style ps-6 mt-5">
                                        <li class="mb-lg-4 mb-md-3 mb-2">
                                            <p class="text-primary">Conceptualization & Storyboarding: <span class="text-secondary">We help you flesh out your game ideas with detailed storyboarding and conceptual designs.</span></p>
                                        </li>
                                        <li class="mb-lg-4 mb-md-3 mb-2">
                                            <p class="text-primary">Prototyping & Development: <span class="text-secondary">Rapid prototyping to refine gameplay mechanics and ensure a seamless gaming experience.</span></p>
                                        </li>
                                        <li class="mb-lg-4 mb-md-3 mb-2">
                                            <p class="text-primary">Cross-Platform Development: <span class="text-secondary">We develop games for various platforms, including PC, consoles, and mobile devices, ensuring a wide audience reach.</span></p>
                                        </li>
                                    </ul>
                                </div>
                                <a href="#" class="btn btn-outline-primary mt-lg-auto mt-3"> Learn more </a>
                            </div>
                            <div class="col-lg-5 px-lg-0">
                                <div class="text-end mt-lg-0 mt-5 position-relative">
                                    <div class="zoom-img overflow-hidden rounded-4">
                                        <img class="w-100 w-lg-auto wow img-custom-anim-left" src="assets/imgs/services/services-4/img-1.png" alt="muzilla" />
                                    </div>
                                    <div class="d-flex align-items-center bg-black-1 px-5 py-3 rounded-4 ms-5 mb-4 position-absolute bottom-0 start-0">
                                        <h5 class="ds-5 text-primary">+14</h5>
                                        <p class="text-primary fw-semibold text-start ms-3 mb-0">
                                            Projects <br class="d-block" />
                                            Completed
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-custom">
                    <div class="card__inner">
                        <div class="p-lg-7 p-md-5 p-4 row d-flex border border-primary bg-black-2 rounded-4">
                            <div class="col-lg-7 d-flex align-items-start flex-column">
                                <div class="pe-lg-7">
                                    <div class="d-flex align-items-center">
                                        <div class="rectangle"></div>
                                        <strong class="ms-3">Creating Worlds, Building Characters</strong>
                                    </div>
                                    <h2 class="mt-3 wow img-custom-anim-left">
                                        <a href="services-details.html">Game Design & Art</a>
                                    </h2>
                                    <ul class="list-style ps-6 mt-5">
                                        <li class="mb-lg-4 mb-md-3 mb-2">
                                            <p class="text-primary">2D & 3D Art: <span class="text-secondary">We create captivating 2D and 3D assets tailored to your game’s style and tone.</span></p>
                                        </li>
                                        <li class="mb-lg-4 mb-md-3 mb-2">
                                            <p class="text-primary">Character Design: <span class="text-secondary">From heroes to villains, we design memorable characters that resonate with players.</span></p>
                                        </li>
                                        <li class="mb-lg-4 mb-md-3 mb-2">
                                            <p class="text-primary">Environmental Design: <span class="text-secondary">We build detailed and immersive environments that enhance the overall gaming experience.</span></p>
                                        </li>
                                    </ul>
                                </div>
                                <a href="#" class="btn btn-outline-primary mt-lg-auto mt-3"> Learn more </a>
                            </div>
                            <div class="col-lg-5 px-lg-0">
                                <div class="text-end mt-lg-0 mt-5 position-relative">
                                    <div class="zoom-img overflow-hidden rounded-4">
                                        <img class="w-100 w-lg-auto wow img-custom-anim-left" src="assets/imgs/services/services-4/img-2.png" alt="muzilla" />
                                    </div>
                                    <div class="d-flex align-items-center bg-primary px-5 py-3 rounded-4 mb-4 position-absolute bottom-0 end-0">
                                        <h5 class="ds-5 text-dark">+250</h5>
                                        <p class="text-dark fw-semibold text-start ms-3 mb-0">
                                            skilled <br class="d-block" />
                                            designers
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-custom">
                    <div class="card__inner">
                        <div class="p-lg-7 p-md-5 p-4 row d-flex border border-primary bg-black-2 rounded-4">
                            <div class="col-lg-7 d-flex align-items-start flex-column">
                                <div class="pe-lg-7">
                                    <div class="d-flex align-items-center">
                                        <div class="rectangle"></div>
                                        <strong class="ms-3">Ensuring Quality, Delivering Excellence</strong>
                                    </div>
                                    <h2 class="mt-3 wow img-custom-anim-left">
                                        <a href="services-details.html">Game Testing & QA</a>
                                    </h2>
                                    <ul class="list-style ps-6 mt-5">
                                        <li class="mb-lg-4 mb-md-3 mb-2">
                                            <p class="text-primary">Functional Testing: <span class="text-secondary">Identifying andoverflow-hiddening bugs that could affect gameplay.</span></p>
                                        </li>
                                        <li class="mb-lg-4 mb-md-3 mb-2">
                                            <p class="text-primary">Performance Testing: <span class="text-secondary">Ensuring your game runs smoothly across all platforms and devices.</span></p>
                                        </li>
                                        <li class="mb-lg-4 mb-md-3 mb-2">
                                            <p class="text-primary">Usability Testing: <span class="text-secondary">Assessing the user experience to ensure players have an intuitive and enjoyable time.</span></p>
                                        </li>
                                    </ul>
                                </div>
                                <a href="#" class="btn btn-outline-primary mt-lg-auto mt-3"> Learn more </a>
                            </div>
                            <div class="col-lg-5 px-lg-0">
                                <div class="text-end mt-lg-0 mt-5 position-relative">
                                    <div class="zoom-img overflow-hidden rounded-4">
                                        <img class="w-100 w-lg-auto wow img-custom-anim-left" src="assets/imgs/services/services-4/img-3.png" alt="muzilla" />
                                    </div>
                                    <div class="bg-primary p-4 rounded-circle m-4 icon-shape icon_140 position-absolute bottom-0 start-0">
                                        <p class="text-dark fw-semibold text-start text-center mb-0">
                                            How
                                            <br class="d-block" />
                                            It Work?
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-custom">
                    <div class="card__inner">
                        <div class="p-lg-7 p-md-5 p-4 row d-flex border border-primary bg-black-2 rounded-4">
                            <div class="col-lg-7 d-flex align-items-start flex-column">
                                <div class="pe-lg-7">
                                    <div class="d-flex align-items-center">
                                        <div class="rectangle"></div>
                                        <strong class="ms-3">Getting Your Game to the World</strong>
                                    </div>
                                    <h2 class="mt-3 wow img-custom-anim-left">
                                        <a href="services-details.html">Game Marketing</a>
                                    </h2>
                                    <ul class="list-style ps-6 mt-5">
                                        <li class="mb-lg-4 mb-md-3 mb-2">
                                            <p class="text-primary">Branding & Positioning: <span class="text-secondary">We help define your game’s unique selling points and create a strong brand identity.</span></p>
                                        </li>
                                        <li class="mb-lg-4 mb-md-3 mb-2">
                                            <p class="text-primary">Social Media & Community Management: <span class="text-secondary">Engaging with your audience and building a loyal fanbase.</span></p>
                                        </li>
                                        <li class="mb-lg-4 mb-md-3 mb-2">
                                            <p class="text-primary">Launch Strategy & PR: <span class="text-secondary">Coordinating press releases, launch events, and media outreach to maximize your game’s exposure.</span></p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="d-flex flex-column flex-md-row mt-lg-auto mt-3 justify-content-center">
                                    <a href="#" class="btn btn-outline-primary"> Learn more </a>
                                    <a href="contact.html" class="btn text-primary"> Get Free Quote </a>
                                </div>
                            </div>
                            <div class="col-lg-5 px-lg-0">
                                <div class="text-end mt-lg-0 mt-5 position-relative">
                                    <div class="zoom-img overflow-hidden rounded-4">
                                        <img class="w-100 w-lg-auto wow img-custom-anim-left" src="assets/imgs/services/services-4/img-4.png" alt="muzilla" />
                                    </div>
                                    <div class="d-flex align-items-center position-absolute bottom-0 end-0">
                                        <div class="d-flex h-100 w-100 position-relative">
                                            <div class="rectangle-1 mt-5"></div>
                                            <div class="rectangle-2"></div>
                                        </div>
                                        <p class="text-primary fs-100 fw-bold text-start ms-2 mb-0">Launch</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space"></div>
        </div>
    </div>
</section>
