<!-- services-5 -->
<section class="section-services-5 section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 pe-lg-10 tg-heading-subheading animation-style3">
                <div class="d-flex align-items-center mb-3">
                    <span class="line-gradient"></span>
                    <span class="text-uppercase fw-bold text-primary ms-3 fs-7">What We Offer</span>
                </div>
                <h1 class="mb-0 tg-element-title">We Create the Games We’d Love to Play</h1>
                <p class="mb-0 mt-4 wow img-custom-anim-top">We’re prepared to bring your vision to life on multiple platforms. In this century, games are a universal language, and with our expertise, you can tap into their unparalleled potential.</p>
                <div class="position-relative">
                    <img src="assets/imgs/services/services-5/img.png" alt="muzilla" />
                </div>
            </div>
            <div class="col-lg-7">
                <div class="card-services-5 px-3 py-4 d-flex border-top border-bottom border-secondary mb-3 wow img-custom-anim-top">
                    <div>
                        <img class="mb-3" src="assets/imgs/services/services-5/icon-1.svg" alt="muzilla" />
                        <h3 class="mb-3"><a href="services-details.html">Game Development</a></h3>
                        <p>Our team is experienced in all aspects of game development, from initial concept to final release. We use the latest technologies and innovative design to bring your ideas to life.</p>
                    </div>
                    <div class="icon">
                        <a href="#" class="rounded-circle border border-secondary icon-shape icon-lg">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                                <path d="M18.6714 10.9832L8.63038 21.0243L6.98047 19.3744L17.0215 9.33333H8.17142V7H21.0047V19.8333H18.6714V10.9832Z" fill="white" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="card-services-5 px-3 py-4 d-flex border-top border-bottom border-secondary mb-3 wow img-custom-anim-top">
                    <div>
                        <img class="mb-3" src="assets/imgs/services/services-5/icon-2.svg" alt="muzilla" />
                        <h3 class="mb-3"><a href="services-details.html">Game Design & Art</a></h3>
                        <p>We focus on every detail, from character design to environment art, ensuring that every aspect of your game is meticulously crafted.</p>
                    </div>
                    <div class="icon">
                        <a href="#" class="rounded-circle border border-secondary icon-shape icon-lg">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                                <path d="M18.6714 10.9832L8.63038 21.0243L6.98047 19.3744L17.0215 9.33333H8.17142V7H21.0047V19.8333H18.6714V10.9832Z" fill="white" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="card-services-5 px-3 py-4 d-flex border-top border-bottom border-secondary mb-3 wow img-custom-anim-top">
                    <div>
                        <img class="mb-3" src="assets/imgs/services/services-5/icon-3.svg" alt="muzilla" />
                        <h3 class="mb-3"><a href="services-details.html">Game Testing & QA</a></h3>
                        <p>Quality assurance is crucial to the success of any game. Our dedicated QA team rigorously tests every aspect of your game to ensure it is bug-free and delivers a smooth experience to players.</p>
                    </div>
                    <div class="icon">
                        <a href="#" class="rounded-circle border border-secondary icon-shape icon-lg">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                                <path d="M18.6714 10.9832L8.63038 21.0243L6.98047 19.3744L17.0215 9.33333H8.17142V7H21.0047V19.8333H18.6714V10.9832Z" fill="white" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="card-services-5 px-3 py-4 d-flex border-top border-bottom border-secondary mb-3 wow img-custom-anim-top">
                    <div>
                        <img class="mb-3" src="assets/imgs/services/services-5/icon-4.svg" alt="muzilla" />
                        <h3 class="mb-3"><a href="services-details.html">Game Marketing</a></h3>
                        <p>Once your game is ready, our marketing team steps in to help it reach its full potential. We craft strategic marketing campaigns and offer launch support to ensure your game gains the attention it deserves.</p>
                    </div>
                    <div class="icon">
                        <a href="#" class="rounded-circle border border-secondary icon-shape icon-lg">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                                <path d="M18.6714 10.9832L8.63038 21.0243L6.98047 19.3744L17.0215 9.33333H8.17142V7H21.0047V19.8333H18.6714V10.9832Z" fill="white" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
