<!-- services-3 -->
<section class="section-services-3 section-padding bg-black-2">
    <div class="container">
        <div class="text-center">
            <span class="fw-semibold text-primary fs-7"><span class="opacity-25 me-2">+</span> Services <span class="opacity-25 ms-2">+</span></span>
            <h2>Company <span class="stroke text-transparent">expertise</span></h2>
        </div>
        <div class="row mt-8">
            <div class="col-lg-4">
                <div class="card bg-black-1 rounded-4 overflow-hidden mb-lg-0 mb-5">
                    <div class="card-body pt-6 px-8">
                        <div class="card-title mb-4 pb-4 d-flex align-items-center justify-content-between border-bottom border-white border-opacity-10">
                            <h4 class="ds-xs-6">
                                <a href="services-details.html">
                                    Gaming <br />
                                    Art Design
                                </a>
                            </h4>
                            <img src="assets/imgs/services/services-3/icon-1.svg" alt="muzilla" />
                        </div>
                        <p class="card-text fs-7 mb-5">Indie games, short for independent video games, are typically created.</p>
                    </div>
                    <img class="ms-6 rounded-top-4 rounded-end-0" src="assets/imgs/services/services-3/img-1.png" alt="muzilla" />
                    <a href="services-details.html" class="icon-shape icon_50 bg-primary rounded-4 position-absolute bottom-0 start-0 ms-8 mb-3 opacity-0">
                        <img src="assets/imgs/services/services-3/arrow.svg" alt="muzilla" />
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card bg-black-1 rounded-4 overflow-hidden mb-lg-0 mb-5">
                    <div class="card-body pt-6 px-8">
                        <div class="card-title mb-4 pb-4 d-flex align-items-center justify-content-between border-bottom border-white border-opacity-10">
                            <h4 class="ds-xs-6">
                                <a href="services-details.html">
                                    Sci-fi <br />
                                    Game Making
                                </a>
                            </h4>
                            <img src="assets/imgs/services/services-3/icon-2.svg" alt="muzilla" />
                        </div>
                        <p class="card-text fs-7 mb-5">Indie games, short for independent video games, are typically created.</p>
                    </div>
                    <img class="ms-6 rounded-top-4 rounded-end-0" src="assets/imgs/services/services-3/img-2.png" alt="muzilla" />
                    <a href="services-details.html" class="icon-shape icon_50 bg-primary rounded-4 position-absolute bottom-0 start-0 ms-8 mb-3 opacity-0">
                        <img src="assets/imgs/services/services-3/arrow.svg" alt="muzilla" />
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card bg-black-1 rounded-4 overflow-hidden mb-lg-0 mb-5">
                    <div class="card-body pt-6 px-8">
                        <div class="card-title mb-4 pb-4 d-flex align-items-center justify-content-between border-bottom border-white border-opacity-10">
                            <h4 class="ds-xs-6">
                                <a href="services-details.html">
                                    Arcade & <br />
                                    Multi-solutions
                                </a>
                            </h4>
                            <img src="assets/imgs/services/services-3/icon-3.svg" alt="muzilla" />
                        </div>
                        <p class="card-text fs-7 mb-5">Indie games, short for independent video games, are typically created.</p>
                    </div>
                    <img class="ms-6 rounded-top-4 rounded-end-0" src="assets/imgs/services/services-3/img-3.png" alt="muzilla" />
                    <a href="services-details.html" class="icon-shape icon_50 bg-primary rounded-4 position-absolute bottom-0 start-0 ms-8 mb-3 opacity-0">
                        <img src="assets/imgs/services/services-3/arrow.svg" alt="muzilla" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
