<!-- Services 1 -->
<section class="section-services-1 pt-120 pb-120 bg-black-2">
    <div class="container-fluid">
        <div class="container">
            <div class="row mb-8">
                <div class="col-lg-12">
                    <div class="d-flex align-items-center mb-2">
                        <span class="line-gradient"></span>
                        <span class="text-uppercase fw-bold text-primary ms-3 fs-7">Our Expertise</span>
                    </div>
                    <div class="d-lg-flex justify-content-between align-items-lg-center tg-heading-subheading animation-style3">
                        <h2 class="tg-element-title position-relative">We serve quality service <br />in indie games.</h2>
                        <a href="contact.html" class="btn btn-outline-primary mt-lg-0 mt-3"> Get In Touch </a>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-5 col-md-8">
                    <div class="wow img-custom-anim-top">
                        <div class="border-top border-primary opacity-25 mb-4"></div>
                        <div class="d-lg-flex align-items-start">
                            <div class="d-flex align-items-center mb-3 mb-lg-0">
                                <img src="assets/imgs/services/services-1/icon-1.svg" alt="muzilla" />
                                <h6 class="mb-0 ms-4"><a href="services-details.html">Game Design</a></h6>
                            </div>
                            <p class="ms-auto">
                                Indie games, short for independent <br />
                                video games, are typically created <br />
                                by individuals.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-lg-5 col-md-8 mx-auto">
                    <div class="wow img-custom-anim-top">
                        <div class="border-top border-primary opacity-25 mb-4"></div>
                        <div class="d-lg-flex align-items-start">
                            <div class="d-flex align-items-center mb-3 mb-lg-0">
                                <img src="assets/imgs/services/services-1/icon-2.svg" alt="muzilla" />
                                <h6 class="mb-0 ms-4"><a href="services-details.html">Character Art</a></h6>
                            </div>
                            <p class="ms-auto">
                                Indie games, short for independent <br />
                                video games, are typically created <br />
                                by individuals.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-8 ms-auto">
                    <div class="wow img-custom-anim-top">
                        <div class="border-top border-primary opacity-25 mb-4"></div>
                        <div class="d-lg-flex align-items-start">
                            <div class="d-flex align-items-center mb-3 mb-lg-0">
                                <img src="assets/imgs/services/services-1/icon-3.svg" alt="muzilla" />
                                <h6 class="mb-0 ms-4"><a href="services-details.html">Game Design</a></h6>
                            </div>
                            <p class="ms-auto">
                                Indie games, short for independent <br />
                                video games, are typically created <br />
                                by individuals.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
