<!-- team-2 -->
<section class="section-team-2 section-padding @@bg-color">
    <div class="container">
        <div class="row mb-8 mb-lg-6">
            <div class="col-lg-4">
                <div class="d-flex align-items-center mb-2">
                    <span class="line-gradient"></span>
                    <span class="text-uppercase fw-bold text-primary ms-3 fs-7">Our Expertise</span>
                </div>
                <h2 class=" position-relative wow img-custom-anim-left">We’re <span class="text-primary">growing</span> every day</h2>
            </div>
            <div class="col-lg-6 d-flex align-items-end">
                <p class="mb-0 fs-5 wow img-custom-anim-left">
                    We believe in a future where everyone is a gamer <br class="d-none d-lg-block" />
                    and everyone can <span class="text-white">create, compete, collaborate</span> and<br class="d-none d-lg-block" />
                    <span class="text-white">connect</span> through games.
                </p>
            </div>
            <div class="col-lg-2 col-md-3 col-5 ms-auto align-self-end mb-lg-7 d-none d-md-block">
                <div class="position-relative z-0">
                    <div class="swiper-button-prev bg-primary ms-lg-7">
                        <i class="bi bi-arrow-left-short text-dark"></i>
                    </div>
                    <div class="swiper-button-next bg-black-1">
                        <i class="bi bi-arrow-right-short"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- Swiper -->
        <div class="swiper slider-4 mt-7 position-relative">
            <div class="swiper-wrapper position-relative z-1">
                <!-- prettier-ignore -->
                @@loop('team2-loop.html', [
                {
                "img": "assets/imgs/team/team-2/img-1.png",
                "name": "Alonso D. Dowson",
                "position": "HEad Of IDea",
                },
                {
                "img": "assets/imgs/team/team-2/img-2.png",
                "name": "Robert Wilson",
                "position": "Product Manager",
                },
                {
                "img": "assets/imgs/team/team-2/img-3.png",
                "name": "Sarah Johnson",
                "position": "Game Artist",
                },
                {
                "img": "assets/imgs/team/team-2/img-4.png",
                "name": "Michael Brown",
                "position": "Marketing Manager",
                },
                {
                "img": "assets/imgs/team/team-2/img-1.png",
                "name": "Alonso D. Dowson",
                "position": "HEad Of IDea",
                },
                {
                "img": "assets/imgs/team/team-2/img-2.png",
                "name": "Robert Wilson",
                "position": "Product Manager",
                },
                ]
                )
            </div>
        </div>
        <!-- Swiper JS -->
    </div>
</section>
