<!-- team 1 -->
<div class="accordion section-team-1 d-flex flex-column flex-lg-row align-items-md-center align-items-start overflow-hidden">
    <div class="accordion-item position-relative">
        <div class="overlay position-absolute w-100 h-100 top-0 left-0 right-0 bottom-0"></div>
        <div class="accordion-img w-100 h-100" data-background="assets/imgs/team/team-1/img-1.png"></div>
        <div class="accordion-link p-5 d-flex flex-column justify-content-between position-absolute top-0 start-0 w-100 h-100">
            <div class="d-flex gap-2">
                <a href="https://www.facebook.com/" class="social-icons rounded-circle text-white icon-shape icon-md">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://twitter.com/" class="social-icons rounded-circle text-white icon-shape icon-md">
                    <i class="bi bi-twitter-x"></i>
                </a>
                <a href="https://www.behance.net/" class="social-icons rounded-circle text-white icon-shape icon-md">
                    <i class="bi bi-behance"></i>
                </a>
                <a href="https://www.youtube.com/" class="social-icons rounded-circle text-white icon-shape icon-md">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>
            <div class="affiliation d-flex flex-column">
                <a href="#" class="text-primary fs-7 text-uppercase fw-bold d-inline-block my-2">HEad Of IDea</a>
                <a href="#" class="d-inline-block">
                    <h2>Alonso D. Dowson</h2>
                </a>
            </div>
        </div>
    </div>
    <div class="accordion-item expand position-relative">
        <div class="overlay position-absolute w-100 h-100 top-0 left-0 right-0 bottom-0"></div>
        <div class="accordion-img w-100 h-100" data-background="assets/imgs/team/team-1/img-2.png"></div>
        <div class="accordion-link p-5 d-flex flex-column justify-content-between position-absolute top-0 start-0 w-100 h-100">
            <div class="d-flex gap-2">
                <a href="https://www.facebook.com/" class="social-icons rounded-circle text-white icon-shape icon-md">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://twitter.com/" class="social-icons rounded-circle text-white icon-shape icon-md">
                    <i class="bi bi-twitter-x"></i>
                </a>
                <a href="https://www.behance.net/" class="social-icons rounded-circle text-white icon-shape icon-md">
                    <i class="bi bi-behance"></i>
                </a>
                <a href="https://www.youtube.com/" class="social-icons rounded-circle text-white icon-shape icon-md">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>
            <div class="affiliation d-flex flex-column">
                <a href="#" class="text-primary fs-7 text-uppercase fw-bold d-inline-block my-2">HEad Of IDea</a>
                <a href="#" class="d-inline-block">
                    <h2>Alonso D. Dowson</h2>
                </a>
            </div>
        </div>
    </div>
    <div class="accordion-item position-relative">
        <div class="overlay position-absolute w-100 h-100 top-0 left-0 right-0 bottom-0"></div>
        <div class="accordion-img w-100 h-100" data-background="assets/imgs/team/team-1/img-3.png"></div>
        <div class="accordion-link p-5 d-flex flex-column justify-content-between position-absolute top-0 start-0 w-100 h-100">
            <div class="d-flex gap-2">
                <a href="https://www.facebook.com/" class="social-icons rounded-circle text-white icon-shape icon-md">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://twitter.com/" class="social-icons rounded-circle text-white icon-shape icon-md">
                    <i class="bi bi-twitter-x"></i>
                </a>
                <a href="https://www.behance.net/" class="social-icons rounded-circle text-white icon-shape icon-md">
                    <i class="bi bi-behance"></i>
                </a>
                <a href="https://www.youtube.com/" class="social-icons rounded-circle text-white icon-shape icon-md">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>
            <div class="affiliation d-flex flex-column">
                <a href="#" class="text-primary fs-7 text-uppercase fw-bold d-inline-block my-2">HEad Of IDea</a>
                <a href="#" class="d-inline-block">
                    <h2>Alonso D. Dowson</h2>
                </a>
            </div>
        </div>
    </div>
    <div class="accordion-item position-relative">
        <div class="overlay position-absolute w-100 h-100 top-0 left-0 right-0 bottom-0"></div>
        <div class="accordion-img w-100 h-100" data-background="assets/imgs/team/team-1/img-4.png"></div>
        <div class="accordion-link p-5 d-flex flex-column justify-content-between position-absolute top-0 start-0 w-100 h-100">
            <div class="d-flex gap-2">
                <a href="https://www.facebook.com/" class="social-icons rounded-circle text-white icon-shape icon-md">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://twitter.com/" class="social-icons rounded-circle text-white icon-shape icon-md">
                    <i class="bi bi-twitter-x"></i>
                </a>
                <a href="https://www.behance.net/" class="social-icons rounded-circle text-white icon-shape icon-md">
                    <i class="bi bi-behance"></i>
                </a>
                <a href="https://www.youtube.com/" class="social-icons rounded-circle text-white icon-shape icon-md">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>
            <div class="affiliation d-flex flex-column">
                <a href="#" class="text-primary fs-7 text-uppercase fw-bold d-inline-block my-2">HEad Of IDea</a>
                <a href="#" class="d-inline-block">
                    <h2>Alonso D. Dowson</h2>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="d-flex flex-column flex-lg-row align-items-lg-center align-items-start pt-80 pb-120 tg-heading-subheading animation-style3">
        <h2 class=" tg-element-title">Join us today in our happy journey.</h2>
        <a href="#" class="btn btn-outline-primary ms-lg-auto mt-4 mt-lg-0"> Read more </a>
    </div>
</div>
