<div class="swiper-slide">
    <div class="card bg-transparent position-relative">
        <img class="card-img" src="@@img" alt="muzilla" />
        <div class="position-absolute top-50 start-50 translate-middle mt-10 social-group">
            <div class="d-flex gap-2">
                <a href="https://www.facebook.com/" class="social-icons rounded-circle text-white icon-shape icon-md">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://twitter.com/" class="social-icons rounded-circle text-white icon-shape icon-md">
                    <i class="bi bi-twitter-x"></i>
                </a>
                <a href="https://www.behance.net/" class="social-icons rounded-circle text-white icon-shape icon-md">
                    <i class="bi bi-behance"></i>
                </a>
                <a href="https://www.youtube.com/" class="social-icons rounded-circle text-white icon-shape icon-md">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>
        </div>
        <div class="card-body px-0 text-center">
            <a href="#">
                <h6 class="ds-xs-6">@@name</h6>
            </a>
            <a href="#" class="my-2">
                <p class="text-primary fs-7 text-uppercase">@@position</p>
            </a>
        </div>
    </div>
</div>
