<!-- News-2 -->
<section class="section-news-2 pt-120 pb-120 bg-black-2">
    <div class="container tg-heading-subheading animation-style3">
        <div class="d-flex align-items-center mb-3">
            <span class="text-uppercase fw-bold text-primary fs-7 text-nowrap">insights</span>
            <span class="line ms-4"></span>
        </div>
        <h2 class="text-end pb-80 Company updates">Company updates</h2>
    </div>
    <div class="container">
        <div class="row gy-40">
            <div class="col-lg-7">
                <ul class="news2-tab-wrap list-unstyled pe-lg-10" id="tabs-nav">
                    <li class="news2-tab">
                        <div class="news2-tab-item border-white border-bottom border-opacity-10 pb-5" data-bs-toggle="tab" data-bs-target="#tab1">
                            <div class="d-flex align-items-center">
                                <strong>Indie</strong>
                                <div class="line-soft mx-4"></div>
                                <i class="bi bi-calendar-minus-fill text-white"></i>
                                <p class="mb-0 text-uppercase ms-2 fs-7 fw-regular">December 21, 2024</p>
                            </div>
                            <a href="#">
                                <h2 class="fs-2 mt-3">Creating Immersive Worlds: The Art and Science of Game Development</h2>
                            </a>
                        </div>
                    </li>
                    <li class="news2-tab">
                        <div class="news2-tab-item border-white border-bottom border-opacity-10 pb-5" data-bs-toggle="tab" data-bs-target="#tab2">
                            <div class="d-flex align-items-center">
                                <strong>Indie</strong>
                                <div class="line-soft mx-4"></div>
                                <i class="bi bi-calendar-minus-fill text-white"></i>
                                <p class="mb-0 text-uppercase ms-2 fs-7 fw-regular">December 21, 2024</p>
                            </div>
                            <a href="#">
                                <h2 class="fs-2 mt-3">Behind the Code: The Journey from Concept to Game Launch.</h2>
                            </a>
                        </div>
                    </li>
                    <li class="news2-tab">
                        <div class="news2-tab-item border-white border-bottom border-opacity-10 pb-5" data-bs-toggle="tab" data-bs-target="#tab3">
                            <div class="d-flex align-items-center">
                                <strong>Indie</strong>
                                <div class="line-soft mx-4"></div>
                                <i class="bi bi-calendar-minus-fill text-white"></i>
                                <p class="mb-0 text-uppercase ms-2 fs-7 fw-regular">December 21, 2024</p>
                            </div>
                            <a href="#">
                                <h2 class="fs-2 mt-3">Level Up Your Skills: Tips from Our Game Designers</h2>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5 wow img-custom-anim-left">
                <div id="tabs-content">
                    <div id="tab1" class="news2-tab-content">
                        <div class="service-thumb rounded-4overflow-hidden">
                            <img class="w-100" src="assets/imgs/news/news-2/img-1.png" alt="img" />
                        </div>
                    </div>
                    <div id="tab2" class="news2-tab-content">
                        <div class="service-thumb rounded-4overflow-hidden">
                            <img class="w-100" src="assets/imgs/news/news-1/img-2.png" alt="img" />
                        </div>
                    </div>
                    <div id="tab3" class="news2-tab-content">
                        <div class="service-thumb rounded-4overflow-hidden">
                            <img class="w-100" src="assets/imgs/news/news-1/img-3.png" alt="img" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
