<!-- News 1 -->
<section class="section-news-1 section-padding bg-black-1">
    <div class="container">
        <div class="row mb-8">
            <div class="col-lg-12">
                <div class="d-flex align-items-center mb-2">
                    <span class="line-gradient"></span>
                    <span class="text-uppercase fw-bold text-primary ms-3 fs-7">insights</span>
                </div>
                <div class="d-lg-flex justify-content-between align-items-lg-center tg-heading-subheading animation-style3">
                    <h2 class=" position-relative tg-element-title">Company insights</h2>
                    <a href="blog-list.html" class="btn btn-outline-primary mt-lg-0 mt-3"> More News </a>
                </div>
            </div>
        </div>
    </div>
    <div class="pb-5">
        <div class="container">
            <div class="card-scroll">
                <div class="cards">
                    <div class="card-custom">
                        <div class="card__inner">
                            <div class="p-lg-8 p-5 row d-flex border border-primary bg-black-2 rounded-4">
                                <div class="col-lg-6 d-flex align-items-start flex-column">
                                    <div class="tg-heading-subheading animation-style3">
                                        <div class="d-flex align-items-center">
                                            <strong>Indie</strong>
                                            <div class="line-soft mx-4"></div>
                                            <i class="bi bi-calendar-minus-fill text-white"></i>
                                            <p class="mb-0 ms-2 fs-7 fw-regular">December 21, 2024</p>
                                        </div>
                                        <h2 class="fs-2 mt-3"><a href="blog-details.html">Indie developers often experiment with unique concepts and game play mechanics...</a></h2>
                                    </div>
                                    <a href="blog-details.html" class="btn btn-outline-primary mt-lg-auto mt-3"> Read more </a>
                                </div>
                                <div class="col-lg-6 text-end d-block mt-lg-0 mt-5">
                                    <img class="rounded-4 w-100 w-lg-auto wow img-custom-anim-right" src="assets/imgs/news/news-1/img-1.png" alt="muzilla" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-custom">
                        <div class="card__inner">
                            <div class="p-lg-8 p-5 row d-flex border border-primary bg-black-2 rounded-4">
                                <div class="col-lg-6 d-flex align-items-start flex-column">
                                    <div class="tg-heading-subheading animation-style3">
                                        <div class="d-flex align-items-center">
                                            <strong>Indie</strong>
                                            <div class="line-soft mx-4"></div>
                                            <i class="bi bi-calendar-minus-fill text-white"></i>
                                            <p class="mb-0 ms-2 fs-7 fw-regular">December 21, 2024</p>
                                        </div>
                                        <h2 class="fs-2 mt-3"><a href="blog-details.html">With the rise of digital distribution platforms like Steam, Itch.io, and the Nintendo eShop, indie...</a></h2>
                                    </div>
                                    <a href="blog-details.html" class="btn btn-outline-primary mt-lg-auto mt-3"> Read more </a>
                                </div>
                                <div class="col-lg-6 text-end d-block mt-lg-0 mt-5">
                                    <img class="rounded-4 w-100 w-lg-auto wow img-custom-anim-right" src="assets/imgs/news/news-1/img-2.png" alt="muzilla" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-custom">
                        <div class="card__inner">
                            <div class="p-lg-8 p-5 row d-flex border border-primary bg-black-2 rounded-4">
                                <div class="col-lg-6 d-flex align-items-start flex-column">
                                    <div class="tg-heading-subheading animation-style3">
                                        <div class="d-flex align-items-center">
                                            <strong>Indie</strong>
                                            <div class="line-soft mx-4"></div>
                                            <i class="bi bi-calendar-minus-fill text-white"></i>
                                            <p class="mb-0 ms-2 fs-7 fw-regular">December 21, 2024</p>
                                        </div>
                                        <h2 class="fs-2 mt-3"><a href="blog-details.html">Indie games, or independent video games, are created by individuals or small development...</a></h2>
                                    </div>
                                    <a href="blog-details.html" class="btn btn-outline-primary mt-lg-auto mt-3"> Read more </a>
                                </div>
                                <div class="col-lg-6 text-end d-block mt-lg-0 mt-5">
                                    <img class="rounded-4 w-100 w-lg-auto wow img-custom-anim-right" src="assets/imgs/news/news-1/img-3.png" alt="muzilla" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
