<div class="swiper-slide">
    <div class="card bg-transparent">
        <a href="blog-details.html"><img class="rounded-4" src="@@img" alt="muzilla" /></a>
        <div class="card-body px-0">
            <div class="d-flex align-items-center my-3">
                <a href="blog-list.html"><strong>@@category</strong></a>
                <div class="line-soft mx-4"></div>
                <i class="bi bi-calendar-minus-fill text-white"></i>
                <p class="mb-0 text-uppercase ms-2 fs-7 fw-regular">@@posting-time</p>
            </div>
            <h2 class="fs-4 mt-3">
                <a href="blog-details.html"> @@description </a>
            </h2>
        </div>
    </div>
</div>
