<!-- News-3 -->
<section class="section-news-3 section-padding" data-background="assets/imgs/news/news-3/img-bg.png">
    <div class="container">
        <div class="text-center">
            <span class="fw-semibold text-primary fs-7"><span class="opacity-25 me-2">+</span> News <span class="opacity-25 ms-2">+</span></span>
            <h2>Company <span class="stroke text-transparent">insights</span></h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col lg-10 mx-lg-auto">
                <!-- Swiper -->
                <div class="swiper slider-3 mt-10">
                    <div class="swiper-wrapper z-1">
                        <!-- prettier-ignore -->
                        @@loop('news3-loop.html', [
                        {
                        "img": "assets/imgs/news/news-3/img-1.png",
                        "posting-time": "December 21, 2024",
                        "category": "Indie",
                        "description": "Indie games, or independent video games, are created...",
                        },
                        {
                        "img": "assets/imgs/news/news-3/img-2.png",
                        "posting-time": "December 21, 2024",
                        "category": "Indie",
                        "description": "Indie games, or independent video games, are created...",
                        },
                        {
                        "img": "assets/imgs/news/news-3/img-3.png",
                        "posting-time": "December 21, 2024",
                        "category": "Indie",
                        "description": "Indie games, or independent video games, are created...",
                        },
                        {
                        "img": "assets/imgs/news/news-3/img-1.png",
                        "posting-time": "December 21, 2024",
                        "category": "Indie",
                        "description": "Indie games, or independent video games, are created...",
                        },
                        {
                        "img": "assets/imgs/news/news-3/img-2.png",
                        "posting-time": "December 21, 2024",
                        "category": "Indie",
                        "description": "Indie games, or independent video games, are created...",
                        },
                        {
                        "img": "assets/imgs/news/news-3/img-3.png",
                        "posting-time": "December 21, 2024",
                        "category": "Indie",
                        "description": "Indie games, or independent video games, are created...",
                        },
                        ]
                        )
                    </div>
                </div>
                <!-- Swiper JS -->
            </div>
        </div>
    </div>
</section>