<!-- Pricing-2 -->
<section class="section-pricing-1 section-padding position-relative bg-black-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="mb-lg-0 mb-6">
                    <span class="fw-semibold text-primary fs-7"><span class="opacity-25 me-2">+</span> Pricing plans <span class="opacity-25 ms-2">+</span></span>
                    <h2 class="my-4 wow img-custom-anim-left">Muzilla Game Services Are based on passion for and trust in games</h2>
                    <p class="mt-4 wow img-custom-anim-left">Indie games, short for independent video games, are typically created by individuals. They often emphasize innovation, creativity, and unique gameplay experiences.</p>
                    <div class="d-flex change-price-plan mt-8 wow img-custom-anim-top">
                        <a href="#" class="monthly active btn btn-outline-primary me-3" data-type="monthly"> monthly </a>
                        <a href="#" class="yearly btn btn-outline-primary" data-type="yearly"> yearly </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 ps-lg-10">
                <div class="border border-white border-opacity-25 rounded-4 p-6 d-md-flex">
                    <div class="border-end-md border-primary pe-8 d-flex flex-column">
                        <h6>Basic</h6>
                        <h1 class="fs-40 text-primary text-price-basic">$49.99</h1>
                        <p class="mt-auto">
                            Emphasize the expertise and <br />
                            knowledge of your team.
                        </p>
                        <a href="#" class="text-primary text-decoration-underline text-capitalize fs-7 fw-semibold">make your order</a>
                    </div>
                    <div class="ps-md-8 mt-md-0 mt-5">
                        <p class="d-flex align-items-center">
                            <span class="line me-3 bg-white"></span>
                            Unlimited Users
                        </p>
                        <p class="d-flex align-items-center">
                            <span class="line me-3 bg-white"></span>
                            Unlimited Projects
                        </p>
                        <p class="d-flex align-items-center">
                            <span class="line me-3 bg-white"></span>
                            Download prototypes
                        </p>
                        <p class="d-flex align-items-center">
                            <span class="line me-3 bg-white"></span>
                            Dedicated Account Manager
                        </p>
                        <p class="d-flex align-items-center mb-0">
                            <span class="line me-3 bg-white"></span>
                            Custom Integrations
                        </p>
                    </div>
                </div>
                <div class="border border-white border-opacity-25 rounded-4 bg-primary p-6 d-md-flex mt-3">
                    <div class="border-end-md border-dark border-opacity-25 pe-8 d-flex flex-column">
                        <h6 class="text-dark">Advanced</h6>
                        <h1 class="fs-40 text-dark text-price-advanced">$99.99</h1>
                        <p class="mt-auto text-dark">
                            Emphasize the expertise and <br />
                            knowledge of your team.
                        </p>
                        <a href="#" class="text-primary text-capitalize fs-7 fw-semibold text-dark">make your order</a>
                    </div>
                    <div class="ps-md-8 mt-md-0 mt-5">
                        <p class="d-flex align-items-center text-dark">
                            <span class="line me-3 bg-black-1"></span>
                            Unlimited Users
                        </p>
                        <p class="d-flex align-items-center text-dark">
                            <span class="line me-3 bg-black-1"></span>
                            Unlimited Projects
                        </p>
                        <p class="d-flex align-items-center text-dark">
                            <span class="line me-3 bg-black-1"></span>
                            Download prototypes
                        </p>
                        <p class="d-flex align-items-center text-dark">
                            <span class="line me-3 bg-black-1"></span>
                            Dedicated Account Manager
                        </p>
                        <p class="d-flex align-items-center text-dark mb-0">
                            <span class="line me-3 bg-black-1"></span>
                            Custom Integrations
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="position-absolute bottom-0 end-0 d-none d-lg-block">
        <img src="assets/imgs/pricing/pricing-2/character.png" alt="image" />
    </div>
</section>
