<!-- Counter 2 -->
<section class="section-counter-2 pb-120 pt-120 bg-black-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 d-flex flex-column align-items-center align-items-lg-start border-end-lg border-secondary">
                <div class="text-start mb-lg-0 mb-5 wow img-custom-anim-top">
                    <img src="assets/imgs/counter/counter-2/icon-1.svg" alt="muzilla" />
                    <h6 class="ds-xs-6 my-4">
                        150+ Members <br class="d-none d-lg-block" />
                        6 Studios
                    </h6>
                    <p class="fw-regular">
                        We are a creative agency brands building<br class="d-none d-lg-block" />
                        insightful strategy, creating unique<br class="d-none d-lg-block" />
                        designs helping
                    </p>
                </div>
            </div>
            <div class="col-lg-4 d-flex flex-column align-items-center border-top border-top-lg-0 border-end-lg border-secondary">
                <div class="text-start my-lg-0 my-5 wow img-custom-anim-top">
                    <img src="assets/imgs/counter/counter-2/icon-2.svg" alt="muzilla" />
                    <h6 class="ds-xs-6 my-4">
                        +2 million <br class="d-none d-lg-block" />
                        Download
                    </h6>
                    <p class="fw-regular">
                        We are a creative agency brands building<br class="d-none d-lg-block" />
                        insightful strategy, creating unique<br class="d-none d-lg-block" />
                        designs helping
                    </p>
                </div>
            </div>
            <div class="col-lg-4 d-flex flex-column align-items-center border-top border-top-lg-0 border-secondary">
                <div class="text-start mt-lg-0 mt-5 wow img-custom-anim-top">
                    <img src="assets/imgs/counter/counter-2/icon-3.svg" alt="muzilla" />
                    <h6 class="ds-xs-6 my-4">
                        700+ games <br class="d-none d-lg-block" />
                        Launched
                    </h6>
                    <p class="fw-regular">
                        We are a creative agency brands building<br class="d-none d-lg-block" />
                        insightful strategy, creating unique<br class="d-none d-lg-block" />
                        designs helping
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
