<!-- Counter 3 -->
<div class="section-counter-3 pb-120 pt-120 bg-black-2">
    <div class="container mt-8">
        <div class="inner">
            <div class="row justify-content-center">
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="counter-item-cover counter-item">
                        <div class="content text-center mx-auto">
                            <span class="fw-bold lh-sm text-primary ds-1">
                                <span class="odometer" data-count="290"></span>
                            </span>
                            <p>Games Developed</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="counter-item-cover counter-item">
                        <div class="content text-center mx-auto">
                            <span class="lh-sm text-primary ds-1 fw-bold mb-0">
                                <span class="odometer" data-count="50"></span>M
                            </span>
                            <p>Downloads</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="counter-item-cover counter-item">
                        <div class="content text-center mx-auto">
                            <span class="lh-sm text-primary ds-1 fw-bold"><span class="odometer" data-count="200"></span></span>
                            <p>Projects Lunched</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="counter-item-cover counter-item">
                        <div class="content text-center mx-auto">
                            <span class="count lh-sm text-primary ds-1 fw-bold"><span class="odometer" data-count="98"></span>%</span>
                            <p>Client Satisfaction</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>