<!-- contact-1 -->
<section class="section-contact-1 section-padding bg-black-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="d-flex align-items-center mb-2">
                    <span class="line-gradient"></span>
                    <span class="text-uppercase fw-bold text-primary ms-3 fs-7">Drop us a line</span>
                </div>
                <h1 class="mb-0 wow img-custom-anim-left">Get in touch</h1>
                <div class="d-flex align-items-center mb-2">
                    <h1 class="mb-0 me-4 wow img-custom-anim-left">with us</h1>
                    <div class="rounded-4 overflow-hidden zoom-img wow img-custom-anim-left">
                        <img src="@@path-image" alt="muzilla" />
                    </div>
                </div>
                <p class="mb-0 mt-4">Please fill out the form and let us know about your concerns. We will try our best to provide optimized solutions.</p>
                <a href="tel:+01-236-635-8" class="d-flex align-items-center mb-3 mt-4">
                    <i class="bi bi-telephone text-primary me-3 rounded-3 icon-shape icon-lg border border-primary"></i>
                    <div>
                        <p class="mb-0">Phone</p>
                        <p class="mb-0 text-white">(+01) 236 - 635 - 865</p>
                    </div>
                </a>
                <a href="mailto:qJXUJ@example.com" class="d-flex align-items-center">
                    <i class="bi bi-envelope text-primary me-3 rounded-3 icon-shape icon-lg border border-primary"></i>
                    <div>
                        <p class="mb-0">Email</p>
                        <p class="mb-0 text-white">contact@muzilla.studio</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-7 pt-8 pt-lg-0">
                <form action="#">
                    <div class="row g-3">
                        <div class="col-md-6 ">
                            <input type="text" class="form-control rounded-0" id="name" name="name" placeholder="Name *" aria-label="username" />
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control rounded-0" id="phone" name="phone" placeholder="Phone *" aria-label="phone" />
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control rounded-0" id="email" name="email" placeholder="Email *" aria-label="email" />
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control rounded-0" id="subject" name="subject" placeholder="Company" aria-label="subject" />
                        </div>
                        <div class="col-12">
                            <textarea class="form-control rounded-0" id="message" name="message" placeholder="Your message..." aria-label="With textarea"></textarea>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary mt-3">
                                Send Message
                                <i class="ri-arrow-right-up-line"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
