<!-- steps-1 -->
<section class="section-services-2 pt-120 pb-120">
    <div class="container">
        <div class="text-center tg-heading-subheading animation-style3">
            <div class="d-flex align-items-center justify-content-center mb-3">
                <span class=" line-gradient"></span>
                <span class="text-uppercase fw-bold text-primary mx-3">How We Develop Games</span>
                <span class="line-gradient-reverse"></span>
            </div>
            <h1 class=" tg-element-title">
                A Straightforward, Yet Powerful <br />
                and Efficient Approach
            </h1>
            <p>Elevate Your Game Development with only 4 Simple Steps: Our Proven Process</p>
        </div>
    </div>
    <div class="container mt-8">
        <div class="row g-4">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="card-service-2 wow img-custom-anim-top wow img-custom-anim-top d-flex bg-black-2 flex-column flex-lg-row h-100 flex-row p-5">
                    <div class="icon flex-shrink-0">
                        <img src="assets/imgs/steps/steps-1/icon-1.svg" alt="muzilla" />
                    </div>
                    <div class="content d-flex flex-column flex-grow-1 ms-md-0 ms-lg-5 mt-md-4 mt-lg-0 mt-4">
                        <h5><span class="text-primary">01.</span> Ideation & Planning</h5>
                        <p class="fw-regular">Start by brainstorming ideas, defining the core concept, and outlining the game’s objectives. Determine your target audience, and create a roadmap that details the project’s scope, timeline, and required resources.</p>
                        <a href="#" class="fs-7 fw-bold mt-auto"> Read More </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="card-service-2 wow img-custom-anim-top d-flex bg-black-2 flex-column flex-lg-row h-100 flex-row p-5">
                    <div class="icon flex-shrink-0">
                        <img src="assets/imgs/steps/steps-1/icon-2.svg" alt="muzilla" />
                    </div>
                    <div class="content d-flex flex-column flex-grow-1 ms-md-0 ms-lg-5 mt-md-4 mt-lg-0 mt-4">
                        <h5><span class="text-primary">02.</span> Design & Prototyping</h5>
                        <p class="fw-regular">Develop the game’s mechanics, design characters, environments, and user interfaces, and create initial prototypes. Prototyping is crucial as it allows you to test gameplay elements early on, refine the user experience.</p>
                        <a href="#" class="fs-7 fw-bold mt-auto"> Read More </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="card-service-2 wow img-custom-anim-top d-flex bg-black-2 flex-column flex-lg-row h-100 flex-row p-5">
                    <div class="icon flex-shrink-0">
                        <img src="assets/imgs/steps/steps-1/icon-3.svg" alt="muzilla" />
                    </div>
                    <div class="content d-flex flex-column flex-grow-1 ms-md-0 ms-lg-5 mt-md-4 mt-lg-0 mt-4">
                        <h5><span class="text-primary">03.</span> Development & Testing</h5>
                        <p class="fw-regular">Concurrently, conduct rigorous testing to identify and resolve bugs, optimize performance, and ensure a seamless experience across platforms. Iterative testing during development helps maintain quality and consistency</p>
                        <a href="#" class="fs-7 fw-bold mt-auto"> Read More </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="card-service-2 wow img-custom-anim-top d-flex bg-black-2 flex-column flex-lg-row h-100 flex-row p-5">
                    <div class="icon flex-shrink-0">
                        <img src="assets/imgs/steps/steps-1/icon-4.svg" alt="muzilla" />
                    </div>
                    <div class="content d-flex flex-column flex-grow-1 ms-md-0 ms-lg-5 mt-md-4 mt-lg-0 mt-4">
                        <h5><span class="text-primary">04.</span> Launch & Support</h5>
                        <p class="fw-regular">Release the game to your chosen platforms, and promote it through marketing channels. After launch, gather player feedback and provide patches, and new content to keep the game engaging and address any issues that arise.</p>
                        <a href="#" class="fs-7 fw-bold mt-auto"> Read More </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
