$colors: (
    theme: (
        primary: #e3ff04,
        b_text: #999999,
        b_text2: #565656,
    ),
    system: (
        white: #ffffff,
        black-1: #111111,
        black-2: #181818,
    ),
    linear: (
        1: linear-gradient(90deg, #181818 0%, #e3ff04 100%),
    ),
);
