<!-- blog-list -->
<section class="section-blog-list section-padding pt-80 pb-130">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 pb-5">
                <h4 class="ds-xs-4">Level Up <span class="text-secondary">Your Knowledge:</span> The Latest <span class="text-secondary">in Game</span> Development and Culture</h4>
            </div>
            <div class="col-lg-11">
                <!-- Swiper -->
                <div class="swiper slider-6">
                    <div class="swiper-wrapper z-1">
                        <div class="swiper-slide">
                            <a href="#" class="card-category d-block p-3 pe-5 bg-black-2 border-bottom border-secondary border-4">
                                <img src="assets/imgs/blog/blog-list/icon-1.svg" alt="muzilla" />
                                <p class="text-white mb-0 mt-2">Industry News</p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="card-category d-block p-3 pe-5 bg-black-2 border-bottom border-secondary border-4">
                                <img src="assets/imgs/blog/blog-list/icon-2.svg" alt="muzilla" />
                                <p class="text-white mb-0 mt-2">Upcoming Releases</p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="card-category d-block p-3 pe-5 bg-black-2 border-bottom border-secondary border-4">
                                <img src="assets/imgs/blog/blog-list/icon-3.svg" alt="muzilla" />
                                <p class="text-white mb-0 mt-2">Game Design</p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="card-category d-block p-3 pe-5 bg-black-2 border-bottom border-secondary border-4">
                                <img src="assets/imgs/blog/blog-list/icon-4.svg" alt="muzilla" />
                                <p class="text-white mb-0 mt-2">Tips & Tricks</p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="card-category d-block p-3 pe-5 bg-black-2 border-bottom border-secondary border-4">
                                <img src="assets/imgs/blog/blog-list/icon-5.svg" alt="muzilla" />
                                <p class="text-white mb-0 mt-2">Gaming Culture</p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="card-category d-block p-3 pe-5 bg-black-2 border-bottom border-secondary border-4">
                                <img src="assets/imgs/blog/blog-list/icon-6.svg" alt="muzilla" />
                                <p class="text-white mb-0 mt-2">Game Reviews</p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="card-category d-block p-3 pe-5 bg-black-2 border-bottom border-secondary border-4">
                                <img src="assets/imgs/blog/blog-list/icon-7.svg" alt="muzilla" />
                                <p class="text-white mb-0 mt-2">Platform Trends</p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="card-category d-block p-3 pe-5 bg-black-2 border-bottom border-secondary border-4">
                                <img src="assets/imgs/blog/blog-list/icon-8.svg" alt="muzilla" />
                                <p class="text-white mb-0 mt-2">Game Spotlight</p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="card-category d-block p-3 pe-5 bg-black-2 border-bottom border-secondary border-4">
                                <img src="assets/imgs/blog/blog-list/icon-1.svg" alt="muzilla" />
                                <p class="text-white mb-0 mt-2">Industry News</p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="card-category d-block p-3 pe-5 bg-black-2 border-bottom border-secondary border-4">
                                <img src="assets/imgs/blog/blog-list/icon-2.svg" alt="muzilla" />
                                <p class="text-white mb-0 mt-2">Upcoming Releases</p>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Swiper JS -->
            </div>
            <div class="col-1 position-relative d-none d-lg-block">
                <div class="position-relative mt-6">
                    <div class="swiper-button-next bg-black-2 border-0 rounded-2">
                        <i class="bi bi-caret-right-fill"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-80">
            <!-- blog -->
            <div class="col-lg-9 pe-lg-8">
                <div class="card-careers mb-5">
                    <div class="d-flex flex-column gap-4">
                        <a href="blog-details.html" class="zoom-img overflow-hidden">
                            <img src="assets/imgs/blog/blog-list/img-1.png" alt="image" />
                        </a>
                        <div class="card-content ">
                            <h4 class="mb-3">
                                <a href="blog-details.html">
                                    The evolution of game mechanics: from classic <br />
                                    to cutting-edge
                                </a>
                            </h4>
                            <div class="d-flex flex-wrap gap-3 mb-3">
                                <a href="#" class="text-secondary border-end border-secondary pe-2 fs-7">
                                    <i class="bi-bookmark-fill text-primary me-2"></i>
                                    Trending
                                </a>
                                <a href="#" class="text-secondary border-end border-secondary pe-2 fs-7">
                                    <i class="bi-stopwatch-fill text-primary me-2"></i>
                                    December 3, 2024
                                </a>
                                <a href="#" class="text-secondary fs-7">
                                    <i class="bi-person-fill  text-primary me-2"></i>
                                    Administrator
                                </a>
                            </div>
                            <p>
                                As a Senior Game Designer, you'll be at the forefront of our game development process, <br />
                                driving the creative vision and crafting innovative gameplay mechanics
                            </p>
                            <a href="blog-details.html" class="btn btn-sm btn-primary mt-3">
                                Read more
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                                    <path d="M18.6714 10.9832L8.63038 21.0243L6.98047 19.3744L17.0215 9.33333H8.17142V7H21.0047V19.8333H18.6714V10.9832Z" fill="#111111"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row mt-6">
                    <!-- <div class="col-md-6"> -->
                    <div class="card-careers col-md-6 mb-5">
                        <div class="d-flex flex-column gap-4">
                            <a href="blog-details.html" class="zoom-img overflow-hidden">
                                <img class="w-100" src="assets/imgs/blog/blog-list/img-2.png" alt="image" />
                            </a>
                            <div class="card-content ">
                                <h5 class="mb-3"><a href="blog-details.html">Indie gems: 5 underrated games you need to play right now</a></h5>
                                <div class="d-flex flex-wrap gap-3 mb-4">
                                    <a href="#" class="text-secondary border-end border-secondary pe-2 fs-7">
                                        <i class="bi-bookmark-fill text-primary me-2"></i>
                                        Trending
                                    </a>
                                    <a href="#" class="text-secondary pe-2 fs-7">
                                        <i class="bi-stopwatch-fill text-primary me-2"></i>
                                        December 3, 2024
                                    </a>
                                </div>
                                <p>
                                    As a Senior Game Designer, you'll be at the forefront of our game development process, <br />
                                    driving the creative vision and crafting innovative gameplay mechanics
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-careers col-md-6 mb-5">
                        <div class="d-flex flex-column gap-4">
                            <a href="blog-details.html" class="zoom-img overflow-hidden">
                                <img class="w-100" src="assets/imgs/blog/blog-list/img-3.png" alt="image" />
                            </a>
                            <div class="card-content ">
                                <h5 class="mb-3"><a href="blog-details.html">Mastering your craft: pro tips for winning in competitive e-sports</a></h5>
                                <div class="d-flex flex-wrap gap-3 mb-4">
                                    <a href="#" class="text-secondary border-end border-secondary pe-2 fs-7">
                                        <i class="bi-bookmark-fill text-primary me-2"></i>
                                        Trending
                                    </a>
                                    <a href="#" class="text-secondary pe-2 fs-7">
                                        <i class="bi-stopwatch-fill text-primary me-2"></i>
                                        December 3, 2024
                                    </a>
                                </div>
                                <p>
                                    As a Senior Game Designer, you'll be at the forefront of our game development process, <br />
                                    driving the creative vision and crafting innovative gameplay mechanics
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-careers col-md-6 mb-5">
                        <div class="d-flex flex-column gap-4">
                            <a href="blog-details.html" class="zoom-img overflow-hidden">
                                <img class="w-100" src="assets/imgs/blog/blog-list/img-4.png" alt="image" />
                            </a>
                            <div class="card-content ">
                                <h5 class="mb-3"><a href="blog-details.html">Breaking down the best graphics engines: unity vs. unreal engine</a></h5>
                                <div class="d-flex flex-wrap gap-3 mb-4">
                                    <a href="#" class="text-secondary border-end border-secondary pe-2 fs-7">
                                        <i class="bi-bookmark-fill text-primary me-2"></i>
                                        Trending
                                    </a>
                                    <a href="#" class="text-secondary pe-2 fs-7">
                                        <i class="bi-stopwatch-fill text-primary me-2"></i>
                                        December 3, 2024
                                    </a>
                                </div>
                                <p>
                                    As a Senior Game Designer, you'll be at the forefront of our game development process, <br />
                                    driving the creative vision and crafting innovative gameplay mechanics
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-careers col-md-6 mb-5">
                        <div class="d-flex flex-column gap-4">
                            <a href="blog-details.html" class="zoom-img overflow-hidden">
                                <img class="w-100" src="assets/imgs/blog/blog-list/img-5.png" alt="image" />
                            </a>
                            <div class="card-content ">
                                <h5 class="mb-3"><a href="blog-details.html">Top 10 most anticipated game releases of the year</a></h5>
                                <div class="d-flex flex-wrap gap-3 mb-4">
                                    <a href="#" class="text-secondary border-end border-secondary pe-2 fs-7">
                                        <i class="bi-bookmark-fill text-primary me-2"></i>
                                        Trending
                                    </a>
                                    <a href="#" class="text-secondary pe-2 fs-7">
                                        <i class="bi-stopwatch-fill text-primary me-2"></i>
                                        December 3, 2024
                                    </a>
                                </div>
                                <p>
                                    As a Senior Game Designer, you'll be at the forefront of our game development process, <br />
                                    driving the creative vision and crafting innovative gameplay mechanics
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                    <!-- <div class="col-md-6"> -->
                    <div class="card-careers col-md-6 mb-5">
                        <div class="d-flex flex-column gap-4">
                            <a href="blog-details.html" class="zoom-img overflow-hidden">
                                <img class="w-100" src="assets/imgs/blog/blog-list/img-6.png" alt="image" />
                            </a>
                            <div class="card-content ">
                                <h5 class="mb-3"><a href="blog-details.html">The future of cross-platform gaming: what to expect in 2025</a></h5>
                                <div class="d-flex flex-wrap gap-3 mb-4">
                                    <a href="#" class="text-secondary border-end border-secondary pe-2 fs-7">
                                        <i class="bi-bookmark-fill text-primary me-2"></i>
                                        Trending
                                    </a>
                                    <a href="#" class="text-secondary pe-2 fs-7">
                                        <i class="bi-stopwatch-fill text-primary me-2"></i>
                                        December 3, 2024
                                    </a>
                                </div>
                                <p>
                                    As a Senior Game Designer, you'll be at the forefront of our game development process, <br />
                                    driving the creative vision and crafting innovative gameplay mechanics
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-careers col-md-6 mb-5">
                        <div class="d-flex flex-column gap-4">
                            <a href="blog-details.html" class="zoom-img overflow-hidden">
                                <img class="w-100" src="assets/imgs/blog/blog-list/img-7.png" alt="image" />
                            </a>
                            <div class="card-content ">
                                <h5 class="mb-3"><a href="blog-details.html">The art of character design: bringing virtual heroes to life</a></h5>
                                <div class="d-flex flex-wrap gap-3 mb-4">
                                    <a href="#" class="text-secondary border-end border-secondary pe-2 fs-7">
                                        <i class="bi-bookmark-fill text-primary me-2"></i>
                                        Trending
                                    </a>
                                    <a href="#" class="text-secondary pe-2 fs-7">
                                        <i class="bi-stopwatch-fill text-primary me-2"></i>
                                        December 3, 2024
                                    </a>
                                </div>
                                <p>
                                    As a Senior Game Designer, you'll be at the forefront of our game development process, <br />
                                    driving the creative vision and crafting innovative gameplay mechanics
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-careers col-md-6 mb-5">
                        <div class="d-flex flex-column gap-4">
                            <a href="blog-details.html" class="zoom-img overflow-hidden">
                                <img class="w-100" src="assets/imgs/blog/blog-list/img-8.png" alt="image" />
                            </a>
                            <div class="card-content ">
                                <h5 class="mb-3"><a href="blog-details.html">Why storytelling in games matters more than ever</a></h5>
                                <div class="d-flex flex-wrap gap-3 mb-4">
                                    <a href="#" class="text-secondary border-end border-secondary pe-2 fs-7">
                                        <i class="bi-bookmark-fill text-primary me-2"></i>
                                        Trending
                                    </a>
                                    <a href="#" class="text-secondary pe-2 fs-7">
                                        <i class="bi-stopwatch-fill text-primary me-2"></i>
                                        December 3, 2024
                                    </a>
                                </div>
                                <p>
                                    As a Senior Game Designer, you'll be at the forefront of our game development process, <br />
                                    driving the creative vision and crafting innovative gameplay mechanics
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-careers col-md-6 mb-5">
                        <div class="d-flex flex-column gap-4">
                            <a href="blog-details.html" class="zoom-img overflow-hidden">
                                <img class="w-100" src="assets/imgs/blog/blog-list/img-9.png" alt="image" />
                            </a>
                            <div class="card-content ">
                                <h5 class="mb-3"><a href="blog-details.html">Exploring the impact of VR on the future of gaming</a></h5>
                                <div class="d-flex flex-wrap gap-3 mb-4">
                                    <a href="#" class="text-secondary border-end border-secondary pe-2 fs-7">
                                        <i class="bi-bookmark-fill text-primary me-2"></i>
                                        Trending
                                    </a>
                                    <a href="#" class="text-secondary pe-2 fs-7">
                                        <i class="bi-stopwatch-fill text-primary me-2"></i>
                                        December 3, 2024
                                    </a>
                                </div>
                                <p>
                                    As a Senior Game Designer, you'll be at the forefront of our game development process, <br />
                                    driving the creative vision and crafting innovative gameplay mechanics
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
                <!-- pagination -->
                <div class="d-flex justify-content-start align-items-center mb-lg-0 mb-8 mt-4">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination gap-2">
                            <li class="page-item">
                                <a class="icon-lg fs-5 page-link pagination_item border-0 rounded-2 icon-shape fw-regular" href="#" aria-label="Previous">
                                    <i class="bi bi-caret-left-fill"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="icon-lg fs-5 page-link pagination_item border-0 rounded-2 icon-shape fw-regular" href="#">1</a>
                            </li>
                            <li class="page-item">
                                <a class="icon-lg fs-5 page-link pagination_item border-0 rounded-2 icon-shape fw-regular" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="icon-lg fs-5 page-link pagination_item border-0 active rounded-2 icon-shape fw-regular" href="#">3</a>
                            </li>
                            <li class="page-item">
                                <a class="icon-lg fs-5 page-link pagination_item border-0 rounded-2 icon-shape fw-regular" href="#">4</a>
                            </li>
                            <li class="page-item">
                                <a class="icon-lg fs-5 page-link pagination_item border-0 rounded-2 icon-shape fw-regular" href="#">5</a>
                            </li>
                            <li class="page-item">
                                <a class="icon-lg fs-5 page-link pagination_item border-0 rounded-2 icon-shape fw-regular" href="#">...</a>
                            </li>
                            <li class="page-item">
                                <a class="icon-lg fs-5 page-link pagination_item border-0 rounded-2 icon-shape fw-regular" href="#" aria-label="Next">
                                    <i class="bi bi-caret-right-fill"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- pagination -->
            </div>
            <!-- blog -->
            <!-- sidebar -->
            <div class="col-lg-3 d-flex flex-column gap-4">
                <div class="bg-black-2 p-6 mb-md-4 mb-lg-0 mb-0">
                    <h5>Search</h5>
                    <form class="input-group mt-3" data-aos="zoom-in">
                        <input type="text" id="input-search" class="form-control height-42 border border-end-0 rounded-0 border-secondary" placeholder="Keywords" aria-label="Keywords" />
                        <button class="border border-start-0 border-secondary bg-black-2 px-3" id="button-search">
                            <i class="bi bi-search text-primary"></i>
                        </button>
                    </form>
                </div>
                <div class="bg-black-2 p-6 mb-md-4 mb-lg-0 mb-0">
                    <h5>Categories</h5>
                    <div class="d-flex flex-column gap-3 mt-5">
                        <a href="#" class="d-flex align-items-center gap-3">
                            <div class="icon-shape icon-18 bg-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M0 4.00002C0 3.86741 0.0526785 3.74024 0.146447 3.64647C0.240215 3.5527 0.367392 3.50002 0.5 3.50002H6.293L4.146 1.35402C4.05211 1.26013 3.99937 1.1328 3.99937 1.00002C3.99937 0.867246 4.05211 0.739908 4.146 0.646021C4.23989 0.552135 4.36722 0.49939 4.5 0.49939C4.63278 0.49939 4.76011 0.552135 4.854 0.646021L7.854 3.64602C7.90056 3.69247 7.93751 3.74764 7.96271 3.80839C7.98792 3.86913 8.00089 3.93425 8.00089 4.00002C8.00089 4.06579 7.98792 4.13091 7.96271 4.19165C7.93751 4.2524 7.90056 4.30758 7.854 4.35402L4.854 7.35402C4.76011 7.44791 4.63278 7.50065 4.5 7.50065C4.36722 7.50065 4.23989 7.44791 4.146 7.35402C4.05211 7.26013 3.99937 7.1328 3.99937 7.00002C3.99937 6.86725 4.05211 6.73991 4.146 6.64602L6.293 4.50002H0.5C0.367392 4.50002 0.240215 4.44734 0.146447 4.35358C0.0526785 4.25981 0 4.13263 0 4.00002Z"
                                        fill="#111111"
                                    />
                                </svg>
                            </div>
                            Industry News
                        </a>
                        <a href="#" class="d-flex align-items-center gap-3">
                            <div class="icon-shape icon-18 bg-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M0 4.00002C0 3.86741 0.0526785 3.74024 0.146447 3.64647C0.240215 3.5527 0.367392 3.50002 0.5 3.50002H6.293L4.146 1.35402C4.05211 1.26013 3.99937 1.1328 3.99937 1.00002C3.99937 0.867246 4.05211 0.739908 4.146 0.646021C4.23989 0.552135 4.36722 0.49939 4.5 0.49939C4.63278 0.49939 4.76011 0.552135 4.854 0.646021L7.854 3.64602C7.90056 3.69247 7.93751 3.74764 7.96271 3.80839C7.98792 3.86913 8.00089 3.93425 8.00089 4.00002C8.00089 4.06579 7.98792 4.13091 7.96271 4.19165C7.93751 4.2524 7.90056 4.30758 7.854 4.35402L4.854 7.35402C4.76011 7.44791 4.63278 7.50065 4.5 7.50065C4.36722 7.50065 4.23989 7.44791 4.146 7.35402C4.05211 7.26013 3.99937 7.1328 3.99937 7.00002C3.99937 6.86725 4.05211 6.73991 4.146 6.64602L6.293 4.50002H0.5C0.367392 4.50002 0.240215 4.44734 0.146447 4.35358C0.0526785 4.25981 0 4.13263 0 4.00002Z"
                                        fill="#111111"
                                    />
                                </svg>
                            </div>
                            Gaming Culture
                        </a>
                        <a href="#" class="d-flex align-items-center gap-3">
                            <div class="icon-shape icon-18 bg-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M0 4.00002C0 3.86741 0.0526785 3.74024 0.146447 3.64647C0.240215 3.5527 0.367392 3.50002 0.5 3.50002H6.293L4.146 1.35402C4.05211 1.26013 3.99937 1.1328 3.99937 1.00002C3.99937 0.867246 4.05211 0.739908 4.146 0.646021C4.23989 0.552135 4.36722 0.49939 4.5 0.49939C4.63278 0.49939 4.76011 0.552135 4.854 0.646021L7.854 3.64602C7.90056 3.69247 7.93751 3.74764 7.96271 3.80839C7.98792 3.86913 8.00089 3.93425 8.00089 4.00002C8.00089 4.06579 7.98792 4.13091 7.96271 4.19165C7.93751 4.2524 7.90056 4.30758 7.854 4.35402L4.854 7.35402C4.76011 7.44791 4.63278 7.50065 4.5 7.50065C4.36722 7.50065 4.23989 7.44791 4.146 7.35402C4.05211 7.26013 3.99937 7.1328 3.99937 7.00002C3.99937 6.86725 4.05211 6.73991 4.146 6.64602L6.293 4.50002H0.5C0.367392 4.50002 0.240215 4.44734 0.146447 4.35358C0.0526785 4.25981 0 4.13263 0 4.00002Z"
                                        fill="#111111"
                                    />
                                </svg>
                            </div>
                            Platform Trends
                        </a>
                        <a href="#" class="d-flex align-items-center gap-3">
                            <div class="icon-shape icon-18 bg-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M0 4.00002C0 3.86741 0.0526785 3.74024 0.146447 3.64647C0.240215 3.5527 0.367392 3.50002 0.5 3.50002H6.293L4.146 1.35402C4.05211 1.26013 3.99937 1.1328 3.99937 1.00002C3.99937 0.867246 4.05211 0.739908 4.146 0.646021C4.23989 0.552135 4.36722 0.49939 4.5 0.49939C4.63278 0.49939 4.76011 0.552135 4.854 0.646021L7.854 3.64602C7.90056 3.69247 7.93751 3.74764 7.96271 3.80839C7.98792 3.86913 8.00089 3.93425 8.00089 4.00002C8.00089 4.06579 7.98792 4.13091 7.96271 4.19165C7.93751 4.2524 7.90056 4.30758 7.854 4.35402L4.854 7.35402C4.76011 7.44791 4.63278 7.50065 4.5 7.50065C4.36722 7.50065 4.23989 7.44791 4.146 7.35402C4.05211 7.26013 3.99937 7.1328 3.99937 7.00002C3.99937 6.86725 4.05211 6.73991 4.146 6.64602L6.293 4.50002H0.5C0.367392 4.50002 0.240215 4.44734 0.146447 4.35358C0.0526785 4.25981 0 4.13263 0 4.00002Z"
                                        fill="#111111"
                                    />
                                </svg>
                            </div>
                            Indie Game Spotlight
                        </a>
                        <a href="#" class="d-flex align-items-center gap-3">
                            <div class="icon-shape icon-18 bg-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M0 4.00002C0 3.86741 0.0526785 3.74024 0.146447 3.64647C0.240215 3.5527 0.367392 3.50002 0.5 3.50002H6.293L4.146 1.35402C4.05211 1.26013 3.99937 1.1328 3.99937 1.00002C3.99937 0.867246 4.05211 0.739908 4.146 0.646021C4.23989 0.552135 4.36722 0.49939 4.5 0.49939C4.63278 0.49939 4.76011 0.552135 4.854 0.646021L7.854 3.64602C7.90056 3.69247 7.93751 3.74764 7.96271 3.80839C7.98792 3.86913 8.00089 3.93425 8.00089 4.00002C8.00089 4.06579 7.98792 4.13091 7.96271 4.19165C7.93751 4.2524 7.90056 4.30758 7.854 4.35402L4.854 7.35402C4.76011 7.44791 4.63278 7.50065 4.5 7.50065C4.36722 7.50065 4.23989 7.44791 4.146 7.35402C4.05211 7.26013 3.99937 7.1328 3.99937 7.00002C3.99937 6.86725 4.05211 6.73991 4.146 6.64602L6.293 4.50002H0.5C0.367392 4.50002 0.240215 4.44734 0.146447 4.35358C0.0526785 4.25981 0 4.13263 0 4.00002Z"
                                        fill="#111111"
                                    />
                                </svg>
                            </div>
                            Tips & Tricks
                        </a>
                        <a href="#" class="d-flex align-items-center gap-3">
                            <div class="icon-shape icon-18 bg-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M0 4.00002C0 3.86741 0.0526785 3.74024 0.146447 3.64647C0.240215 3.5527 0.367392 3.50002 0.5 3.50002H6.293L4.146 1.35402C4.05211 1.26013 3.99937 1.1328 3.99937 1.00002C3.99937 0.867246 4.05211 0.739908 4.146 0.646021C4.23989 0.552135 4.36722 0.49939 4.5 0.49939C4.63278 0.49939 4.76011 0.552135 4.854 0.646021L7.854 3.64602C7.90056 3.69247 7.93751 3.74764 7.96271 3.80839C7.98792 3.86913 8.00089 3.93425 8.00089 4.00002C8.00089 4.06579 7.98792 4.13091 7.96271 4.19165C7.93751 4.2524 7.90056 4.30758 7.854 4.35402L4.854 7.35402C4.76011 7.44791 4.63278 7.50065 4.5 7.50065C4.36722 7.50065 4.23989 7.44791 4.146 7.35402C4.05211 7.26013 3.99937 7.1328 3.99937 7.00002C3.99937 6.86725 4.05211 6.73991 4.146 6.64602L6.293 4.50002H0.5C0.367392 4.50002 0.240215 4.44734 0.146447 4.35358C0.0526785 4.25981 0 4.13263 0 4.00002Z"
                                        fill="#111111"
                                    />
                                </svg>
                            </div>
                            Game Design & Art
                        </a>
                        <a href="#" class="d-flex align-items-center gap-3">
                            <div class="icon-shape icon-18 bg-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M0 4.00002C0 3.86741 0.0526785 3.74024 0.146447 3.64647C0.240215 3.5527 0.367392 3.50002 0.5 3.50002H6.293L4.146 1.35402C4.05211 1.26013 3.99937 1.1328 3.99937 1.00002C3.99937 0.867246 4.05211 0.739908 4.146 0.646021C4.23989 0.552135 4.36722 0.49939 4.5 0.49939C4.63278 0.49939 4.76011 0.552135 4.854 0.646021L7.854 3.64602C7.90056 3.69247 7.93751 3.74764 7.96271 3.80839C7.98792 3.86913 8.00089 3.93425 8.00089 4.00002C8.00089 4.06579 7.98792 4.13091 7.96271 4.19165C7.93751 4.2524 7.90056 4.30758 7.854 4.35402L4.854 7.35402C4.76011 7.44791 4.63278 7.50065 4.5 7.50065C4.36722 7.50065 4.23989 7.44791 4.146 7.35402C4.05211 7.26013 3.99937 7.1328 3.99937 7.00002C3.99937 6.86725 4.05211 6.73991 4.146 6.64602L6.293 4.50002H0.5C0.367392 4.50002 0.240215 4.44734 0.146447 4.35358C0.0526785 4.25981 0 4.13263 0 4.00002Z"
                                        fill="#111111"
                                    />
                                </svg>
                            </div>
                            Upcoming Releases
                        </a>
                    </div>
                </div>
                <div class="bg-black-2 p-6 mb-md-4 mb-lg-0 mb-0">
                    <h5>Latest News</h5>
                    <div class="d-flex flex-column gap-3 mt-5">
                        <a href="blog-details.html" class="d-flex align-items-center gap-3 text-white fs-8">
                            <img src="assets/imgs/blog/blog-list/img-10.png" alt="muzilla" />
                            The evolution of game mechanics: from classic to cutting-edge
                        </a>
                        <a href="blog-details.html" class="d-flex align-items-center gap-3 text-white fs-8">
                            <img src="assets/imgs/blog/blog-list/img-11.png" alt="muzilla" />
                            Indie gems: 5 underrated games you need to play right now
                        </a>
                        <a href="blog-details.html" class="d-flex align-items-center gap-3 text-white fs-8">
                            <img src="assets/imgs/blog/blog-list/img-12.png" alt="muzilla" />
                            The future of cross-platform gaming: what to expect in 2025
                        </a>
                        <a href="blog-details.html" class="d-flex align-items-center gap-3 text-white fs-8">
                            <img src="assets/imgs/blog/blog-list/img-13.png" alt="muzilla" />
                            Mastering your craft: pro tips for winning in competitive esports
                        </a>
                        <a href="blog-details.html" class="d-flex align-items-center gap-3 text-white fs-8">
                            <img src="assets/imgs/blog/blog-list/img-14.png" alt="muzilla" />
                            The art of character design: bringing virtual heroes to life
                        </a>
                    </div>
                </div>
                <div class="bg-black-2 p-6 mb-md-4 mb-lg-0 mb-0">
                    <h5>Popular tags</h5>
                    <div class="d-flex flex-wrap gap-3 mt-5">
                        <a href="#" class="border border-secondary btn btn-outline-primary rounded-1 px-3 py-2 fs-8"> Unity game </a>
                        <a href="#" class="border border-secondary btn btn-outline-primary rounded-1 px-3 py-2 fs-8"> Puzzle </a>
                        <a href="#" class="border border-secondary btn btn-outline-primary rounded-1 px-3 py-2 fs-8"> Casual </a>
                        <a href="#" class="border border-secondary btn btn-outline-primary rounded-1 px-3 py-2 fs-8"> Action </a>
                        <a href="#" class="border border-secondary btn btn-outline-primary rounded-1 px-3 py-2 fs-8"> Shooter </a>
                        <a href="#" class="border border-secondary btn btn-outline-primary rounded-1 px-3 py-2 fs-8"> Simulation </a>
                        <a href="#" class="border border-secondary btn btn-outline-primary rounded-1 px-3 py-2 fs-8"> Sports </a>
                        <a href="#" class="border border-secondary btn btn-outline-primary rounded-1 px-3 py-2 fs-8"> Platformer </a>
                        <a href="#" class="border border-secondary btn btn-outline-primary rounded-1 px-3 py-2 fs-8"> MMO </a>
                    </div>
                </div>
            </div>
            <!-- sidebar -->
        </div>
    </div>
</section>
