<!-- Footer -->
<footer>
    <div class="section-footer position-relative">
        <div class="container-fluid bg-black-2">
            <div class=" container position-relative z-2">
                <div class="row py-90">
                    <div class="col-lg-3 pe-5">
                        <a href="index.html"
                            ><img src="assets/imgs/template/logo.svg" alt="logo" />
                            <span class="text-white fw-bold mb-0 ds-xs-6 ms-2">Muzilla</span>
                        </a>
                        <p class="fw-regular mt-5 mb-6">Indie game studios are independent game development companies that operate without financial backing from large publishers.</p>
                        <div class="d-flex gap-2">
                            <a href="https://www.facebook.com/" class="social-icons rounded-circle text-white border border-end-0 border-light border-opacity-10 icon-shape icon-md">
                                <i class="bi bi-facebook"></i>
                            </a>
                            <a href="https://twitter.com/" class="social-icons rounded-circle text-white border border-end-0 border-light border-opacity-10 icon-shape icon-md">
                                <i class="bi bi-twitter-x"></i>
                            </a>
                            <a href="https://www.linkedin.com/" class="social-icons rounded-circle text-white border border-light border-opacity-10 icon-shape icon-md">
                                <i class="bi bi-behance"></i>
                            </a>
                            <a href="https://www.behance.net/" class="social-icons rounded-circle text-white border border-start-0 border-light border-opacity-10 icon-shape icon-md">
                                <i class="bi bi-youtube"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row mt-lg-0 mt-8">
                            <div class="col-md-4 col-6">
                                <div class="d-flex align-items-center mb-5">
                                    <span class="line-gradient"></span>
                                    <span class="text-uppercase fw-bold text-primary ms-3 text-nowrap fs-7">our expertise</span>
                                </div>
                                <div class="d-flex flex-column align-items-start">
                                    <a class="hover-effect text-capitalize mb-4 fw-medium fs-7 opacity-50" href="services-details.html">game design</a>
                                    <a class="hover-effect text-capitalize mb-4 fw-medium fs-7 opacity-50" href="services-details.html">game art</a>
                                    <a class="hover-effect text-capitalize mb-4 fw-medium fs-7 opacity-50" href="services-details.html">game development</a>
                                    <a class="hover-effect text-capitalize mb-4 fw-medium fs-7 opacity-50" href="services-details.html">4d design</a>
                                    <a class="hover-effect text-capitalize fw-semibold fs-7 opacity-50" href="services-details.html">design & planning</a>
                                </div>
                            </div>
                            <div class="col-md-4 col-6">
                                <div class="d-flex align-items-center mb-5">
                                    <span class="line-gradient"></span>
                                    <span class="text-uppercase fw-bold text-primary ms-3 fs-7">essential</span>
                                </div>
                                <div class="d-flex flex-column align-items-start">
                                    <a class="hover-effect text-capitalize mb-4 fw-medium fs-7 opacity-50" href="about-us.html">About us</a>
                                    <a class="hover-effect text-capitalize mb-4 fw-medium fs-7 opacity-50" href="#">our team</a>
                                    <a class="hover-effect text-capitalize mb-4 fw-medium fs-7 opacity-50" href="services-1.html">our services</a>
                                    <a class="hover-effect text-capitalize mb-4 fw-medium fs-7 opacity-50" href="contact.html">contact</a>
                                    <a class="hover-effect text-capitalize fw-semibold fs-7 opacity-50" href="pricing.html">our pricing</a>
                                </div>
                            </div>
                            <div class="col-md-4 col-6">
                                <div class="d-flex flex-column align-items-start pt-7">
                                    <a class="hover-effect text-capitalize mb-4 fw-medium fs-7 opacity-50" href="#">how it works</a>
                                    <a class="hover-effect text-capitalize mb-4 fw-medium fs-7 opacity-50" href="terms.html">terms & conditions</a>
                                    <a class="hover-effect text-capitalize mb-4 fw-medium fs-7 opacity-50" href="terms.html">refund policy</a>
                                    <a class="hover-effect text-capitalize fw-semibold fs-7 opacity-50" href="careers.html">careers</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 text-lg-end text-start mt-lg-0 mt-8">
                        <div class="d-flex align-items-center justify-content-lg-center mb-5">
                            <span class="line-gradient"></span>
                            <a href="contact.html"><span class="text-uppercase fw-bold text-primary ms-3 fs-7">Get in touch</span></a>
                        </div>
                        <a href="#">
                            <img src="assets/imgs/footer-1/img-1.png" alt="muzilla" />
                        </a>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="d-flex flex-column flex-md-row align-items-center justify-content-md-between justify-content-center py-4 px-0">
                            <p class="fs-7 fw-medium mb-md-0 mb-3">Copyright & design by <a href="#" class="fw-semibold">AliThemes</a> 2024, All Rights Reserved</p>
                            <div class="d-flex">
                                <a href="faqs.html" class="link-hover-primary fs-7 text-white fw-medium me-3"> FAQs </a>
                                <a href="contact.html" class="link-hover-primary fs-7 text-white fw-medium"> Get in touch </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
