<!-- Footer -->
<footer>
    <div class="section-footer position-relative">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 d-flex flex-column align-items-center justify-content-center border-end border-start border-opacity-10 border-white pt-10 pt-lg-0">
                        <div class="text-center">
                            <span class="text-uppercase fw-bold text-primary fs-7">our expertise</span>
                            <div class="d-flex flex-column align-items-center pt-5">
                                <a class="hover-effect text-capitalize mb-4 fw-semibold fs-7 opacity-50 text-nowrap" href="services-details.html">game design</a>
                                <a class="hover-effect text-capitalize mb-4 fw-semibold fs-7 opacity-50 text-nowrap" href="services-details.html">game art</a>
                                <a class="hover-effect text-capitalize mb-4 fw-semibold fs-7 opacity-50 text-nowrap" href="services-details.html">game development</a>
                                <a class="hover-effect text-capitalize mb-4 fw-semibold fs-7 opacity-50 text-nowrap" href="services-details.html">4d design</a>
                                <a class="hover-effect text-capitalize mb-4 fw-semibold fs-7 opacity-50 text-nowrap" href="#services-details.html">design & planning</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex flex-column align-items-center justify-content-center py-90 border-end border-start border-start-lg-0 border-opacity-10 border-white">
                        <a href="index.html"
                            ><img src="assets/imgs/template/logo.svg" alt="logo" />
                            <span class="text-white fw-bold mb-0 ds-xs-6 ms-2">Muzilla</span>
                        </a>
                        <p class="fw-regular mt-5 mb-6 text-center px-md-10 px-0">
                            Indie game studios are independent <br />
                            game development companies that <br />
                            operate without financial backing from <br />
                            large publishers.
                        </p>
                        <div class="d-flex gap-2">
                            <a href="https://www.facebook.com/" class="social-icons rounded-circle text-white border border-end-0 border-light border-opacity-10 icon-shape icon-md">
                                <i class="bi bi-facebook"></i>
                            </a>
                            <a href="https://twitter.com/" class="social-icons rounded-circle text-white border border-end-0 border-light border-opacity-10 icon-shape icon-md">
                                <i class="bi bi-twitter-x"></i>
                            </a>
                            <a href="https://www.linkedin.com/" class="social-icons rounded-circle text-white border border-light border-opacity-10 icon-shape icon-md">
                                <i class="bi bi-linkedin"></i>
                            </a>
                            <a href="https://www.behance.net/" class="social-icons rounded-circle text-white border border-start-0 border-light border-opacity-10 icon-shape icon-md">
                                <i class="bi bi-behance"></i>
                            </a>
                        </div>
                    </div>
                    <div class=" col-lg-3 d-flex flex-column align-items-center justify-content-center border-end border-start border-start-lg-0 border-opacity-10 border-white pb-10 pb-lg-0">
                        <div class="text-center">
                            <span class="text-uppercase fw-bold text-primary fs-7">essential</span>
                            <div class="d-flex flex-column align-items-center pt-5">
                                <a class="hover-effect text-capitalize mb-4 fw-semibold fs-7 opacity-50 text-nowrap" href="about-us.html">About us</a>
                                <a class="hover-effect text-capitalize mb-4 fw-semibold fs-7 opacity-50 text-nowrap" href="#">our team</a>
                                <a class="hover-effect text-capitalize mb-4 fw-semibold fs-7 opacity-50 text-nowrap" href="services-1.html">our services</a>
                                <a class="hover-effect text-capitalize mb-4 fw-semibold fs-7 opacity-50 text-nowrap" href="contact.html">contact</a>
                                <a class="hover-effect text-capitalize mb-4 fw-semibold fs-7 opacity-50 text-nowrap" href="pricing.html">our pricing</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-top border-white border-opacity-10"></div>
        <div class="container">
            <div class="row">
                <div class="d-flex flex-column flex-md-row align-items-center justify-content-md-between justify-content-center py-4 px-md-0">
                    <p class="fw-regular mb-md-0 mb-3">Copyright & design by <a href="#" class="text-white fw-semibold">AliThemes</a> 2024, All Rights Reserved</p>
                    <div class="d-flex">
                        <a href="faqs.html" class="link-hover-primary-light text-white me-3 fw-semibold"> FAQs </a>
                        <a href="contact.html" class="link-hover-primary-light text-white fw-semibold"> Get in touch </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
