<!-- Footer -->
<footer>
    <div class="section-footer position-relative">
        <div class="container-fluid bg-primary">
            <div class="container position-relative pt-120 pb-120 z-2">
                <div class="row align-items-stretch">
                    <div class="col-lg-6 border-end-lg border-dark">
                        <div class="d-flex flex-column align-items-start">
                            <a href="index.html" class="mb-auto">
                                <img src="assets/imgs/template/logo-dark.svg" alt="logo" />
                                <span class="text-dark fw-bold mb-0 ds-xs-6 ms-2">Muzilla</span>
                            </a>
                            <h2 class="text-dark mt-8 wow img-custom-anim-left">
                                It’s blow your mind! <br />
                                <span class="stroke text-primary bg-black-1">meet neural networks</span>
                            </h2>
                            <a href="contact.html" class="btn btn-dark mt-5">Hire Us today</a>
                        </div>
                    </div>
                    <div class="col-lg-6 justify-content-end">
                        <div class="row mt-lg-0 mt-5 ms-lg-10">
                            <div class="col-md-4 col-6 py-3">
                                <span class="text-uppercase fw-bold text-dark fs-7">our expertise</span>
                                <div class="d-flex flex-column align-items-start pt-5">
                                    <a class="text-dark text-capitalize mb-4 fw-semibold fs-7 opacity-50" href="services-details.html">game design</a>
                                    <a class="text-dark text-capitalize mb-4 fw-semibold fs-7 opacity-50" href="services-details.html">game art</a>
                                    <a class="text-dark text-capitalize mb-4 fw-semibold fs-7 opacity-50" href="services-details.html">game development</a>
                                    <a class="text-dark text-capitalize mb-4 fw-semibold fs-7 opacity-50" href="services-details.html">4d design</a>
                                    <a class="text-dark text-capitalize mb-4 fw-semibold fs-7 opacity-50" href="services-details.html">design & planning</a>
                                </div>
                            </div>
                            <div class="col-md-4 col-6 py-3">
                                <span class="text-uppercase fw-bold text-dark fs-7">essential</span>
                                <div class="d-flex flex-column align-items-start pt-5">
                                    <a class="text-dark text-capitalize mb-4 fw-semibold fs-7 opacity-50" href="about-us.html">About us</a>
                                    <a class="text-dark text-capitalize mb-4 fw-semibold fs-7 opacity-50" href="about-us.html">our team</a>
                                    <a class="text-dark text-capitalize mb-4 fw-semibold fs-7 opacity-50" href="services-1.html">our services</a>
                                    <a class="text-dark text-capitalize mb-4 fw-semibold fs-7 opacity-50" href="contact.html">contact</a>
                                    <a class="text-dark text-capitalize mb-4 fw-semibold fs-7 opacity-50" href="pricing.html">our pricing</a>
                                </div>
                            </div>
                            <div class="col-md-4 col-6 py-3">
                                <div class="d-flex flex-column align-items-start pt-md-7">
                                    <a class="text-dark text-capitalize mb-4 fw-semibold fs-7 opacity-50" href="faqs.html">how it works</a>
                                    <a class="text-dark text-capitalize mb-4 fw-semibold fs-7 opacity-50" href="terms.html">terms & conditions</a>
                                    <a class="text-dark text-capitalize mb-4 fw-semibold fs-7 opacity-50" href="terms.html">refund policy</a>
                                    <a class="text-dark text-capitalize mb-4 fw-semibold fs-7 opacity-50" href="careers.html">careers</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="position-absolute bottom-0 end-0 pe-8 pb-8">
            <img src="assets/imgs/template/logo-large.svg" alt="muzilla" />
        </div>
    </div>
</footer>
