<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Shared on THEMELOCK.COM - @@title</title>
<!-- Favicon icon-->
<link rel="shortcut icon" type="image/x-icon" href="assets/imgs/template/logo.svg">
<!-- Libs CSS -->
<link rel="stylesheet" href="assets/css/vendors/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/vendors/swiper-bundle.min.css">
<link rel="stylesheet" href="assets/css/vendors/aos.css">
<link rel="stylesheet" href="assets/css/vendors/odometer.css">
<link rel="stylesheet" href="assets/css/vendors/magnific-popup.css">
<link rel="stylesheet" href="assets/fonts/bootstrap-icons/bootstrap-icons.min.css">
<link rel="stylesheet" href="assets/css/vendors/carouselTicker.css">
<!-- Main CSS -->
<link rel="stylesheet" href="assets/css/main.css">