<!-- Navbar -->
<header>
    <nav class="navbar navbar-expand-lg @@classList z-3 p-0">
        <div class="d-flex justify-content-between w-100 text-center mx-lg-10 px-lg-0 px-3 py-4 border-bottom border-primary">
            <a class="navbar-brand" href="index.html">
                <img src="assets/imgs/template/logo.svg" alt="logo" />
                <span class="ms-2 ds-xs-6 fw-bold text-white"> Muzilla </span>
            </a>
            <div class="align-items-lg-center d-none d-lg-flex">@@include("main-menu.html", { "classList": "border-0" })</div>
            <a href="contact.html" class="btn btn-outline-primary d-none d-md-block"> Get In Touch </a>
        </div>
    </nav>
    @@include("offcanvas.html")
</header>
