<ul class="navbar-nav align-items-lg-center mx-auto @@classList">
    <li class="nav-item dropdown menu-item-has-children">
        <a class="nav-link fw-semibold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Home </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="index.html">Home page 1</a></li>
            <li><a class="dropdown-item" href="index-2.html">Home page 2</a></li>
            <li><a class="dropdown-item" href="index-3.html">Home page 3</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link fw-semibold" href="about-us.html"> About </a>
    </li>
    <li class="nav-item dropdown menu-item-has-children">
        <a class="nav-link fw-semibold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Services </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="services-1.html">Services 1</a></li>
            <li><a class="dropdown-item" href="services-2.html">Services 2</a></li>
            <li><a class="dropdown-item" href="services-details.html">Services details</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown menu-item-has-children">
        <a class="nav-link fw-semibold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Our Games </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="our-game.html">Our Game</a></li>
            <li><a class="dropdown-item" href="game-details.html">Game Details</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown menu-item-has-children">
        <a class="nav-link fw-semibold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Pages </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="careers.html">Careers</a></li>
            <li><a class="dropdown-item" href="pricing.html">Pricing</a></li>
            <li><a class="dropdown-item" href="faqs.html">FAQs</a></li>
            <li><a class="dropdown-item" href="terms.html">Terms</a></li>
            <li><a class="dropdown-item" href="404.html">Error 404</a></li>
        </ul>
    </li>
    <li class="nav-item dropdown menu-item-has-children">
        <a class="nav-link fw-semibold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Blog </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="blog-list.html">Blog List</a></li>
            <li><a class="dropdown-item" href="blog-details.html">Blog Details</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link fw-semibold" href="contact.html"> Contact </a>
    </li>
</ul>
