<div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar button-bg-2">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-logo">
            <a class="navbar-brand" href="index.html">
                <img src="assets/imgs/template/logo.svg" alt="logo">
                <span class="ms-2 ds-xs-6 fw-bold text-white">
                    Muzilla
                </span>
            </a>
            <div class="burger-icon burger-icon-white border rounded-circle">
                <span class="burger-icon-top"></span>
                <span class="burger-icon-mid"></span>
                <span class="burger-icon-bottom"></span>
            </div>
        </div>
        <div class="mobile-header-content-area">
            <div class="perfect-scroll">
                <div class="mobile-menu-wrap mobile-header-border">
                    <nav>
                        <ul class="mobile-menu font-heading ps-0">
                            <li class="has-children">
                                <a class="active" href="#">Homepages</a>
                                <ul class="sub-menu">
                                    <li><a class="dropdown-item" href="index.html">Home page 1</a></li>
                                    <li><a class="dropdown-item" href="index-2.html">Home page 2</a></li>
                                    <li><a class="dropdown-item" href="index-3.html">Home page 3</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">About Us</a>
                                <ul class="sub-menu">
                                    <li><a href="page-us.html">About us v.1</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">Our Services</a>
                                <ul class="sub-menu">
                                    <li><a href="services-1.html">Services v.1</a></li>
                                    <li><a href="services-2.html">Services v.2</a></li>
                                    <li><a href="services-details.html">Services details v.1</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">Our Games</a>
                                <ul class="sub-menu">
                                    <li><a href="our-game.html">Our Games v.1</a></li>
                                    <li><a href="game-details.html">Games detail v.1</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">Page</a>
                                <ul class="sub-menu">
                                    <li><a class="dropdown-item" href="careers.html">Careers</a></li>
                                    <li><a class="dropdown-item" href="pricing.html">Pricing</a></li>
                                    <li><a class="dropdown-item" href="faqs.html">FAQs</a></li>
                                    <li><a class="dropdown-item" href="terms.html">Terms</a></li>
                                    <li><a class="dropdown-item" href="404.html">Error 404</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">Pricing</a>
                                <ul class="sub-menu">
                                    <li><a href="pricing.html">Pricing v.1</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">Contact Us</a>
                                <ul class="sub-menu">
                                    <li><a href="contact.html">Contact v.1</a></li>
                                </ul>
                            </li>
                            <li class="has-children">
                                <a href="#">Blog & News</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-list.html">Blog v.1</a></li>
                                    <li><a href="blog-details.html">Blog details</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>