<!-- offCanvas-menu -->
<div class="offCanvas__info bg-black-2">
    <div class="offCanvas__close-icon menu-close">
        <button><i class="bi bi-x"></i></button>
    </div>
    <div class="offCanvas__logo mb-30">
        <a href="index.html"><img src="assets/imgs/template/logo.svg" alt="Logo">
            <span class="ms-2 ds-xs-6 fw-bold text-white">
                Muzilla
            </span></a>
    </div>
    <div class="offCanvas__side-info mb-30">
        <div class="contact-list mb-30">
            <h4>Office Address</h4>
            <p>123/A, Miranda City Likaoli <br> Prikano, Dope</p>
        </div>
        <div class="contact-list mb-30">
            <h4>Phone Number</h4>
            <p>+0989 7876 9865 9</p>
            <p>+(090) 8765 86543 85</p>
        </div>
        <div class="contact-list mb-30">
            <h4>Email Address</h4>
            <p>info@example.com</p>
            <p>example.mail@hum.com</p>
        </div>
    </div>
    <div class="offCanvas__social-icon mt-30">
        <a href="javascript:void(0)"><i class="bi bi-facebook"></i></a>
        <a href="javascript:void(0)"><i class="bi bi-twitter-x"></i></a>
        <a href="javascript:void(0)"><i class="bi bi-google"></i></a>
        <a href="javascript:void(0)"><i class="bi bi-instagram"></i></a>
    </div>
</div>
<div class="offCanvas__overly"></div>
<!-- Offcanvas search -->
<div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop">
    <div class="offcanvas-header">
        <button class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="container">
            <div class="row">
                <div class="col-8 mx-auto">
                    <h3 class="mb-4">What are you looking for?</h3>
                    <div class="input-group mb-3" data-aos="zoom-in">
                        <input type="text" class="form-control" placeholder="Enter Your Keywords" aria-label="Enter Your Keywords" aria-describedby="button-addon2">
                        <button class="btn btn-primary" id="button-addon2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M19.25 19.25L15.5 15.5M4.75 11C4.75 7.54822 7.54822 4.75 11 4.75C14.4518 4.75 17.25 7.54822 17.25 11C17.25 14.4518 14.4518 17.25 11 17.25C7.54822 17.25 4.75 14.4518 4.75 11Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Offcanvas search -->