<!-- page header -->
<section class="page-header position-relative overflow-hidden">
    <div class="container pt-160 pb-160 position-relative z-1">
        <h1 class="mb-3 text-uppercase">@@title</h1>
        <div class="d-flex align-items-center flex-wrap">
            <a href="index.html" class="text-secondary">Home</a>
            <div class="align-items-center @@page-display">
                <span class="mx-2 line-soft bg-secondary"></span>
                <a href="@@page-link" class="text-secondary">@@page-title-display</a>
            </div>
            <span class="mx-2 line-soft bg-primary"></span>
            <a href="#" class="text-primary">@@page-title</a>
        </div>
    </div>
    <div class="image-background opacity-20 w-100 h-100 position-absolute top-50 start-50 translate-middle z-0" data-background="@@background-image"></div>
</section>