<div class="col-lg-4 col-md-6 d-flex align-self-stretch">
    <div class="card bg-black-1 rounded-4 mb-4 hover-up">
        <div class="card-body pt-5 px-lg-7 px-md-5 px-4">
            <div class="card-title mb-4 pb-4 d-flex align-items-center justify-content-between border-bottom border-white border-opacity-10">
                <a href="#">
                    <h4 class="ds-xs-6 pe-lg-8">
                        <span class="@@attribute-top">@@title-top</span>
                        <span class="@@attribute-bot">@@title-bottom</span>
                    </h4>
                </a>
                <img src="@@icon" alt="muzilla" />
            </div>
            <p class="card-text">@@description</p>
        </div>
        <a href="#">
            <img src="@@img" class="card-img-top" alt="muzilla" />
        </a>
        <a href="#" class="icon-shape icon_50 bg-primary rounded-4 position-absolute bottom-0 start-0 ms-5 mb-3 opacity-0">
            <img src="assets/imgs/services/services-3/arrow.svg" alt="muzilla" />
        </a>
    </div>
</div>
