<!-- Why Choose Us 1 -->
<section class="section-why-choose-us-1 position-relative d-flex flex-column">
    <div class="h-100 position-lg-absolute position-relative end-lg-50 bottom-lg-0 order-2">
        <img class="w-100 h-100 wow img-custom-anim-right" src="assets/imgs/why-choose-us/why-choose-us-1/img-1.png" alt="muzilla" />
    </div>
    <div class="container pt-120 pb-120 order-1">
        <div class="row mt-lg-0 mt-8">
            <div class="col-lg-5 col-12 ms-lg-auto tg-heading-subheading animation-style3">
                <div class="d-flex align-items-center mb-2">
                    <span class="line-gradient"></span>
                    <span class="text-uppercase fw-bold text-primary ms-3 fs-7">why choose us</span>
                </div>
                <h2 class="position-relative tg-element-title">
                    Complete solution <br class="d-none d-lg-block" />
                    with team.
                </h2>
                <p class="mt-4">Indie games, short for independent video games, are typically created by individuals. They often emphasize innovation, creativity, and unique gameplay experiences.</p>
                <div class="row mt-5">
                    <div class="col-md-6 text-start">
                        <a class="hover-effect-2 text-white mb-4 fw-bold fs-7 d-flex align-items-center" href="#">
                            <span class="line me-3"></span>
                            On-demand design
                        </a>
                        <a class="hover-effect-2 text-white mb-4 fw-bold fs-7 d-flex align-items-center" href="#">
                            <span class="line me-3"></span>
                            Creative idea
                        </a>
                        <a class="hover-effect-2 text-white mb-4 fw-bold fs-7 d-flex align-items-center" href="#">
                            <span class="line me-3"></span>
                            1M user review
                        </a>
                    </div>
                    <div class="col-md-6 text-start">
                        <a class="hover-effect-2 text-white mb-4 fw-bold fs-7 d-flex align-items-center" href="#">
                            <span class="line me-3"></span>
                            Multi-support option
                        </a>
                        <a class="hover-effect-2 text-white mb-4 fw-bold fs-7 d-flex align-items-center" href="#">
                            <span class="line me-3"></span>
                            Netease associate
                        </a>
                        <a class="hover-effect-2 text-white mb-4 fw-bold fs-7 d-flex align-items-center" href="#">
                            <span class="line me-3"></span>
                            24/7 support
                        </a>
                    </div>
                </div>
                <a href="contact.html" class="btn btn-outline-primary mt-5"> Get In Touch </a>
            </div>
        </div>
    </div>
</section>
