<!-- Why Choose Us-2 -->
<section class="section-why-choose-us-2 section-padding bg-black-2">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center mb-2">
            <span class="line-gradient"></span>
            <span class="text-uppercase fw-bold text-primary ms-3 fs-7"> We are Muzilla</span>
        </div>
        <div class="text-center tg-heading-subheading animation-style3">
            <h2 class="tg-element-title">Mission <span class="stroke text-transparent">Statement</span></h2>
        </div>
        <div class="row mt-8">
            <!-- prettier-ignore -->
            @@loop('why-us2-loop.html', [
            {
                "icon": "assets/imgs/why-choose-us/why-choose-us-2/icon-1.png",
                "description": "We strive to design games that challenge the norm, offering players fresh and engaging experiences through innovative mechanics and unique gameplay elements.",
                "img": "assets/imgs/why-choose-us/why-choose-us-2/img-1.png",
                "attribute-top": "text-primary",
                "attribute-bot": "text-white",
                "title-top": "Innovative",
                "title-bottom": "Game play",
            },
            {
                "icon": "assets/imgs/why-choose-us/why-choose-us-2/icon-2.png",
                "description": "Our goal is to create stories that resonate, captivating players with rich, immersive narratives that leave a lasting impact.",
                "img": "assets/imgs/why-choose-us/why-choose-us-2/img-2.png",
                "attribute-top": "text-white",
                "attribute-bot": "text-primary",
                "title-top": "Compelling",
                "title-bottom": "Narratives",
            },
            {
                "icon": "assets/imgs/why-choose-us/why-choose-us-2/icon-3.png",
                "description": "We are committed to delivering visually striking games, using cutting-edge technology and artistic creativity to craft breathtaking worlds.",
                "img": "assets/imgs/why-choose-us/why-choose-us-2/img-3.png",
                "attribute-top": "text-primary",
                "attribute-bot": "text-white",
                "title-top": "Stunning",
                "title-bottom": "Visuals",
            },
            {
                "icon": "assets/imgs/why-choose-us/why-choose-us-2/icon-4.png",
                "description": "We prioritize quality in every aspect of game development, from meticulous design and programming to rigorous testing and player feedback.",
                "img": "assets/imgs/why-choose-us/why-choose-us-2/img-4.png",
                "attribute-top": "text-primary",
                "attribute-bot": "text-white",
                "title-top": "Quality",
                "title-bottom": "& Excellence",
            },
            {
                "icon": "assets/imgs/why-choose-us/why-choose-us-2/icon-5.png",
                "description": "We value our players and aim to build a vibrant, inclusive community where gamers can connect, share their passion, and influence the future of our games.",
                "img": "assets/imgs/why-choose-us/why-choose-us-2/img-5.png",
                "attribute-top": "text-white",
                "attribute-bot": "text-primary",
                "title-top": "Community",
                "title-bottom": "Engagement",
            },
            {
                "icon": "assets/imgs/why-choose-us/why-choose-us-2/icon-6.png",
                "description": "We believe in fostering an environment where creativity can flourish, encouraging our team to push boundaries and explore new ideas without constraints.",
                "img": "assets/imgs/why-choose-us/why-choose-us-2/img-6.png",
                "attribute-top": "text-primary",
                "attribute-bot": "text-white",
                "title-top": "Creative",
                "title-bottom": "Miss freedom",
            },
            ]
            )
        </div>
    </div>
</section>
