<!-- our-features-1 -->
<section class="section-our-features-1 pt-120 pb-120">
    <div class="container">
        <div class="text-center tg-heading-subheading animation-style3">
            <div class=" d-flex align-items-center justify-content-center mb-3">
                <span class="line-gradient"></span>
                <span class="text-uppercase fw-bold text-primary mx-3">Our Features</span>
                <span class="line-gradient-reverse"></span>
            </div>
            <h1 class="mb-3 tg-element-title">What makes Us stand out</h1>
            <p class=" wow img-custom-anim-top">
                We combine innovation, expertise, and commitment to deliver <br />
                exceptional gaming experiences that captivate players.
            </p>
        </div>
        <div class="row mt-10">
            <div class="col-lg-7">
                <img class=" wow img-custom-anim-left" src="assets/imgs/our-features/our-features-1/img-1.png" alt="muzilla" />
            </div>
            <div class="col-lg-5 d-flex flex-column flex-md-row gap-5 mt-lg-0 mt-6">
                <div class="card-our-features-1 px-lg-8 wow fadeInUp">
                    <span class="fs-3 fw-bold rounded-circle icon-shape icon-lg border border-primary">1</span>
                    <h4 class="my-3">Customized Full-Cycle Game Development</h4>
                    <p>We offer end-to-end game development services, tailored to meet your unique vision, from concept to launch and beyond.</p>
                </div>
                <div class="card-our-features-1 px-lg-8 wow fadeInUp mt-lg-auto">
                    <span class="fs-3 fw-bold rounded-circle icon-shape icon-lg border border-primary">2</span>
                    <h4 class="my-3">Cross-Platform Expertise</h4>
                    <p class="mb-0">Our team excels in developing games across multiple platforms, ensuring your game reaches a wide audience, whether on mobile, PC, console, or VR.</p>
                </div>
            </div>
        </div>
        <div class="row mt-10">
            <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column flex-md-row gap-5 mt-lg-0 mt-6">
                <div class="card-our-features-1 pe-lg-10 wow fadeInUp">
                    <span class="fs-3 fw-bold rounded-circle icon-shape icon-lg border border-primary">3</span>
                    <h4 class="my-3">Innovative Design & Art</h4>
                    <p>We pride ourselves on creating visually stunning and immersive game worlds with cutting-edge design and top-tier art that captivate players.</p>
                </div>
                <div class="card-our-features-1 pe-lg-10 wow fadeInUp mt-lg-auto">
                    <span class="fs-3 fw-bold rounded-circle icon-shape icon-lg border border-primary">4</span>
                    <h4 class="my-3">Dedicated Quality Assurance</h4>
                    <p class="mb-0">Our rigorous testing processes guarantee a polished, bug-free game that delivers a smooth and enjoyable experience for players.</p>
                </div>
            </div>
            <div class="col-lg-7 order-1 order-lg-2 pe-lg-8">
                <img class=" wow img-custom-anim-right" src="assets/imgs/our-features/our-features-1/img-2.png" alt="muzilla" />
            </div>
        </div>
        <div class="row mt-10">
            <div class="col-lg-7">
                <img class=" wow img-custom-anim-left" src="assets/imgs/our-features/our-features-1/img-3.png" alt="muzilla" />
            </div>
            <div class="col-lg-5 d-flex flex-column flex-md-row gap-5 mt-lg-0 mt-6">
                <div class="card-our-features-1 px-lg-8 wow fadeInUp">
                    <span class="fs-3 fw-bold rounded-circle icon-shape icon-lg border border-primary">5</span>
                    <h4 class="my-3">Ongoing Post-Launch Support</h4>
                    <p>We provide continuous support after launch, including updates, patches, and community engagement, to keep your game thriving in the market.</p>
                </div>
                <div class="card-our-features-1 px-lg-8 wow fadeInUp mt-lg-auto">
                    <span class="fs-3 fw-bold rounded-circle icon-shape icon-lg border border-primary">6</span>
                    <h4 class="my-3">Industry-Leading Technologies</h4>
                    <p class="mb-0">We leverage the latest game development technologies and tools to create state-of-the-art games that are both visually impressive and technically sound.</p>
                </div>
            </div>
        </div>
    </div>
</section>
