<!-- Hero-2 -->
<section class="section-hero-2 position-relative pt-160 overflow-hidden">
    <div class="scroll-move-right position-relative pb-160 pt-lg-150">
        <div class="d-flex align-items-center gap-5 wow img-custom-anim-top position-absolute top-50 start-50 translate-middle">
            <h3 class="stroke fs-300">Muzilla Indie Studio</h3>
        </div>
    </div>
    <div class="d-flex flex-column flex-lg-row align-items-lg-end align-items-center justify-content-center gap-5 pt-160 pb-160">
        <div class="card-hero-2 zoom-img px-2 px-md-0">
            <div class="brand opacity-25 d-none d-lg-block">
                <a href="contact.html" class="btn btn-outline-primary"> Get In Touch </a>
                <p class="mb-2 mt-1">
                    Indie games, short for independent video games, are <br />
                    typically created by individuals. They often emphasize <br />
                    innovation, creativity, and unique.
                </p>
            </div>
            <div class="rounded-3 overflow-hidden">
                <img class="w-100 wow img-custom-anim-left" src="assets/imgs/hero/hero-2/img-1.png" alt="muzilla" />
            </div>
        </div>
        <div class="card-hero-2 zoom-img px-2 px-md-0 position-relative">
            <div class="rounded-3 overflow-hidden">
                <img class="w-100 wow img-custom-anim-left" src="assets/imgs/hero/hero-2/img-2.png" alt="muzilla" />
            </div>
            <div class="background-brand position-absolute bottom-0 start-0 z-0 w-100"></div>
            <div class="brand opacity-0 position-absolute bottom-0 start-0 p-5 w-100">
                <p class="mb-2 mt-1 d-none d-md-block">
                    Indie games, short for independent video games, are <br />
                    typically created by individuals. They often emphasize <br />
                    innovation, creativity, and unique.
                </p>
                <a href="contact.html" class="btn btn-outline-primary"> Get In Touch </a>
            </div>
        </div>
        <div class="card-hero-2 px-2 zoom-img w-md-50 w-lg-auto px-md-0">
            <div class="rounded-3 overflow-hidden">
                <img class="w-lg-100 wow img-custom-anim-left" src="assets/imgs/hero/hero-2/img-3.png" alt="muzilla" />
            </div>
            <div class="brand opacity-25">
                <p class="mb-2 mt-1">
                    Indie games, short for independent video games, are <br />
                    typically created by individuals. They often emphasize <br />
                    innovation, creativity, and unique.
                </p>
                <a href="#contact.html" class="btn btn-outline-primary"> Get In Touch </a>
            </div>
        </div>
    </div>
</section>
