<!-- Hero-4 -->
<section class="section-hero-4 position-relative pt-120 pb-120">
    <div class="container">
        <div class="row flex-nowrap">
            <div class="col-lg-6">
                <div class="d-flex align-items-center mb-2">
                    <span class="line-gradient"></span>
                    <span class="text-uppercase fw-bold text-primary ms-3 fs-7"> We are Muzilla</span>
                </div>
                <h2 class="fs-96 text-white lh-1 wow img-custom-anim-left">Futuristic <span class="text-secondary">&</span></h2>
                <h2 class="fs-96 text-white lh-1 wow img-custom-anim-left">Souls <span class="text-secondary">into</span></h2>
                <div class="d-flex align-items-center">
                    <h2 class="fs-96 mb-0 me-4 stroke wow img-custom-anim-left">Games</h2>
                    <div class="rounded-4 overflow-hidden zoom-img">
                        <img class=" wow img-custom-anim-left" src="assets/imgs/hero/hero-4/img-1.png" alt="muzilla" />
                    </div>
                </div>
                <p class="my-8 wow img-custom-anim-left">
                    Indie games, short for independent video games, are typically <br />
                    created by individuals. They often emphasize innovation, <br />
                    creativity, and unique.
                </p>
                <a href="our-game.html" class="btn btn-primary wow img-custom-anim-top">View our works</a>
            </div>
        </div>
    </div>
    <div class="img-bg position-lg-absolute bottom-0 end-0 top-0 w-lg-50 d-block w-100 h-100 z-1 text-center mt-lg-0 mt-10" data-background="assets/imgs/hero/hero-4/img-2.png">
        <div class="pt-120 pt-lg-0"></div>
        <a href="#" class="position-lg-absolute top-lg-50 start-lg-50 translate-middle-lg z-2 ds-xs-6 fw-bold align-items-center bg-primary rounded-circle hover-up icon-shape icon_185 text-dark"> LET'S TALK WITH US </a>
        <div class="pb-120 pb-lg-0"></div>
    </div>
</section>
