<!-- info 1 -->
<section class="section-info-1 pt-150 pb-150 position-relative" data-background="assets/imgs/info/info-1/img.png">
    <div class="container position-relative z-1">
        <div class="row">
            <div class="col-lg-6 tg-heading-subheading animation-style3">
                <div class="d-flex align-items-center mb-2">
                    <span class="line-gradient"></span>
                    <span class="text-uppercase fw-bold text-primary ms-3 fs-7">Drop us a line</span>
                </div>
                <h1 class=" tg-element-title">From Initial Concept to Full-Scale Execution</h1>
                <ul class="list-unstyled">
                    <li class="mb-4 wow img-custom-anim-top">
                        <p class="text-primary fw-bold">
                            Conceptualization & Storyboarding:
                            <span class="text-white fw-regular"> We start by helping you refine your game concept, developing detailed storyboards that outline the gameplay, narrative, and design elements. </span>
                        </p>
                    </li>
                    <li class="mb-4 wow img-custom-anim-top">
                        <p class="text-primary fw-bold">
                            Prototyping & Design:
                            <span class="text-white fw-regular"> Our team creates prototypes to test and refine gameplay mechanics, allowing us to make adjustments early in the process. </span>
                        </p>
                    </li>
                    <li class="mb-4 wow img-custom-anim-top">
                        <p class="text-primary fw-bold">
                            Development & Integration:
                            <span class="text-white fw-regular"> With the concept and design in place, we move on to coding and integrating all game elements. Our developers use cutting-edge technology to build a seamless gaming experience, whether it's for PC, console, or mobile platforms </span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg-overlay position-absolute top-0 start-0 w-65 h-100 z-0"></div>
</section>
