<!-- support-1 -->
<section class="section-support-1 section-padding bg-black-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 tg-heading-subheading animation-style3">
                <strong>Keeping the Momentum Going</strong>
                <h1 class="mt-3 tg-element-title">
                    Post-Launch Support <br />
                    & Updates
                </h1>
                <p class="pe-lg-2 wow img-custom-anim-left">The journey doesn’t end at launch. Muzilla offers post-launch support to keep your game thriving. From updates and patches to community management, we ensure your game continues to succeed.</p>
                <div class="d-md-flex border-bottom border-white border-opacity-10 pb-5 pt-5">
                    <div class="pe-md-8 wow img-custom-anim-left">
                        <div class="d-flex align-items-center mb-3">
                            <img src="assets/imgs/support/support-1/icon-1.svg" alt="muzilla" />
                            <h6 class="mb-0 ms-3">
                                Community <br />
                                Engagement
                            </h6>
                        </div>
                        <p>
                            Ongoing support to <br />
                            engage with your players and gather feedback.
                        </p>
                    </div>
                    <div class="pe-lg-8 wow img-custom-anim-left">
                        <div class="d-flex align-items-center mb-3">
                            <img src="assets/imgs/support/support-1/icon-2.svg" alt="muzilla" />
                            <h6 class="mb-0 ms-3">
                                Community <br />
                                Engagement
                            </h6>
                        </div>
                        <p>Tracking game performance to inform future updates.</p>
                    </div>
                </div>
                <div class="d-md-flex mt-7 wow img-custom-anim-left">
                    <a href="contact.html" class="btn btn-outline-primary ms-lg-0 ms-4 mb-2 mb-md-0">Get In Touch</a>
                    <a href="tel:123456789" class="btn text-white">+(123) 456 789 00</a>
                    <a href="mailto:J9DmH@example.com" class="btn text-white">meet<span class="text-primary">@</span>muzilla.studio</a>
                </div>
            </div>
            <div class="col-lg-6 position-relative mt-lg-0 mt-8">
                <div class="position-lg-absolute position-relative end-lg-0 top-lg-50 translate-middle-lg-y z-1">
                    <img class="ps-lg-8" src="assets/imgs/support/support-1/figure.png" alt="muzilla" />
                </div>
                <div class="position-absolute start-0 top-50 translate-middle-y z-0">
                    <img src="assets/imgs/support/support-1/vector.png" alt="muzilla" />
                </div>
            </div>
        </div>
    </div>
</section>
